{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Erreur : {{ status_text }}</title>
{% endblock %}

{% block body %}
    <h1>Erreur "{{ status_code }} {{ status_text }}"</h1>

    <div class="frame-small frame-small-red">
		<i class="icon-warning-sign"></i>{{ exception.message }}</a>.
	</div>
{% endblock %}