/* Button Small */
.button-small{
margin:0 7px 0 0;
background:#f5f5f5;
border:1px solid;
border-color:#BCBCBC #BCBCBC #8C8C8C;
text-decoration:none !important;
cursor:pointer;
padding:5px 10px 4px 7px;
font:normal 14px arial,helvetica,tahoma,sans-serif;
font-weight:700;
overflow:visible;
border-radius:4px;
box-shadow:0 1px rgba(0, 0, 0, 0.05) inset;
outline:none;
}
.button-small img{
margin:0 5px -3px 0;
padding:0;
border:none;
}
.button-small i{
font-size:15px;
margin-right:5px;
}
.button-small:hover{
transition:background-color 0.1s linear 0s;
-webkit-transition:background-color 0.1s linear 0s;
}
.button-small:active{
box-shadow:0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
transition:none;
-webkit-transition:none;
}
.button-small:focus{
border-color:#51A7E8;
box-shadow:0 0 5px rgba(81, 167, 232, 0.5);
}
.button-small::-moz-focus-inner{
border:0;
}
.button-small[disabled], .button-small[disabled]:hover{
cursor:default;
background:#E5E5E5;
border-color:#D9D9D9;
color:#9D9D9D;
text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
box-shadow:none;
}

.button-small[disabled]:active{
box-shadow:0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}

.button-small-blue{
color:#565656 !important;
}
.button-small-blue:hover{
background:#dff4ff;
border:1px solid #75bbdb;
color:#369 !important;
}
.button-small-blue:active{
background:#6299c5;
border:1px solid #6299c5;
color:#fff !important;
}

.button-small-green{
color:#529214;
}
.button-small-green:hover{
background:#E6EFC2;
border:1px solid #C6D880;
color:#529214;
}
.button-small-green:active{
background:#76bb5f;
border:1px solid #529214;
color:#fff;
}

.button-small-red{
color:#d12f19;
}
.button-small-red:hover{
background:#fbe3e4;
border:1px solid #fbc2c4;
color:#d12f19;
}
.button-small-red:active{
background:#ea614e;
border:1px solid #d12f19;
color:#fff;
}


/* Button Big */
.button-big{
display:inline-block;
border-radius:5px;
border-style:solid;
border-width:1px;
text-align:center;
padding:8px 10px;
text-decoration:none !important;
font-weight:700;
color:#fff !important;
font-size:14px;
cursor:pointer;
}
.button-big:focus{
border-color:#51A7E8;
box-shadow:0 0 0 1px rgba(255, 255, 255, 0.5) inset, 0 0 6px rgba(82, 168, 236, 0.5);
}
.button-big::-moz-focus-inner{
border:0;
}

.button-big-blue{
background:#0094ea;
background:linear-gradient(to top, #0094ea, #29b0ff);
background:-webkit-gradient(linear, center bottom, center top, from(#0094ea), to(#29b0ff));
border-color:#0094ea #0072b4 #0065a0;
text-shadow:0 -1px 0 #00629C;
box-shadow:0 1px #75ccff inset;
}
.button-big-blue:hover{
background:#006baa;
background:linear-gradient(to top, #006baa, #009df8);
background:-webkit-gradient(linear, center bottom, center top, from(#006baa), to(#009df8));
border-color:#006baa #00619a #005486;
}
.button-big-blue:active{
background:#009df8;
box-shadow:0 2px 4px #005b90 inset;
color:#fff !important;
}

.button-big-green{
background:#73ab3e;
background:linear-gradient(to top, #73ab3e, #92c562);
background:-webkit-gradient(linear, center bottom, center top, from(#73ab3e), to(#92c562));
border-color:#73ab3e #58842f #4e752a;
text-shadow:0 -1px 0 #4c7229;
box-shadow:0 1px #b8da99 inset;
}
.button-big-green:hover{
background:#537c2d;
background:linear-gradient(to top, #537c2d, #7ab542);
background:-webkit-gradient(linear, center bottom, center top, from(#537c2d), to(#7ab542));
border-color:#537c2d #4b7029 #416223;
}
.button-big-green:active{
background:#7ab542;
box-shadow:0 2px 4px #466926 inset;
color:#fff !important;
}

.button-big-yellow{
background:#e8ae01;
background:linear-gradient(to top, #e8ae01, #fdc82a);
background:-webkit-gradient(linear, center bottom, center top, from(#e8ae01), to(#fdc82a));
border-color:#e8ae01 #b28601 #9f7700;
text-shadow:0 -1px 0 #fedc74;
box-shadow:0 1px #fedc75 inset;
color:#312500 !important;
}
.button-big-yellow:hover{
background:#c89600;
background:linear-gradient(to top, #c89600, #f6b901);
background:-webkit-gradient(linear, center bottom, center top, from(#c89600), to(#f6b901));
border-color:#c89600 #997300 #856400;
}
.button-big-yellow:active{
background:#f6b901;
box-shadow:0 2px 4px #8f6b00 inset;
color:#312500 !important;
}