/* Cadre Small */
.cadre-small{
padding:6px 6px 6px 30px;
font:13px arial,verdana,tahoma,helvetica,sans-serif;
margin:4px 12px 13px;
position:relative;
overflow:hidden;
border-radius:4px;
}
.cadre-small i{
font-size:16px;
position:absolute;
left:9px;
top:6px;
}
.cadre-small i.icon-info-sign{
color:#658FBE;
}
.cadre-small i.icon-warning-sign{
color:#e8002a;
}
.cadre-small i.icon-spinner{
color:#273b6e;
}
.cadre-small i.icon-ok{
color:#529214;
}

.cadre-small-orange{
border:1px solid #f9d5a1;
background:#ffedd5;
color:#502d00;
}
.cadre-small-red{
border:1px solid #ff7b7b;
background:#fae7e6;
color:#420f0d;
}
.cadre-small-blue{
border:1px solid #87a5c6;
background:#eef2f6;
}
.cadre-small-green{
border:1px solid #C6D880;
background:#E6EFC2;
}

/* Cadre Big */

.cadre-big-outer{
position:absolute;
left:0;
top:0;
width:100%;
z-index:5;
}

.cadre-big{
position:relative;
margin:0 auto;
overflow:auto;
display:block;
font-family:arial,helvetica,sans-serif;
box-shadow:0 2px 6px rgba(0, 0, 0, 0.2);
background:#fff;
border-radius:6px;
}
.cadre-big p{
margin:0;
}
.cadre-big-head{
color:#fff;
text-align:center;
border:1px solid #A7D0F6;
border-bottom:0;
background:#4E8EE2;
font-size:20px;
font-weight:700;
text-align:center;
border-radius:6px 6px 0 0;
padding:3px;
position:relative;
}
.cadre-big-close{
font-size:16px;
display:inline-block;
width:20px;
height:20px;
position:absolute;
top:6px;
right:5px;
color:#c1d7f4;
cursor:pointer;
}
.cadre-big-close:hover{
color:#fff;
}

.cadre-big-body{
border-top:1px solid #ddd;
padding:5px;
font-size:13px;
}
.cadre-big-foot{
background:#f6f8ea;
border-top:1px solid #ccc;
padding:10px;
text-align:right;
}
.cadre-big-foot .button-small-red{
float:left;
}

.cadre-big-background{
position:fixed;
display:block;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0, 0, 0, 0.5);
z-index:4;
}

.cadre-box{
margin-bottom:20px;
}
.cadre-box-head{
border:1px solid #D5D5D5;
border-top-left-radius:4px;
border-top-right-radius:4px;
background-color:#EAEAEA;
background-image:linear-gradient(#FAFAFA, #EAEAEA);
background-repeat:repeat-x;
}
.cadre-box-head h2{
margin:4px 10px;
color:#555;
font-size:15px;
}
.cadre-box-body{
background-color:#fff;
border-bottom-left-radius:4px;
border-bottom-right-radius:4px;
border-color:#D5D5D5;
border-image:none;
border-style:solid;
border-width:0 1px 1px;
}