.form-fieldset{
padding:0 !important;
border:0 !important;
margin:10px 0 15px 0 !important;
}
.form-fieldset label{
float:left;
width:160px;
cursor:pointer;
display:block;
margin-top:6px;
margin-bottom:5px;
text-align:right;
}
.form-fieldset .form-controls{
margin-left:180px;
}
.form-fieldset .form-controls label{
width:auto;
}

.form-fieldset input[type="text"], .form-fieldset input[type="password"], .form-fieldset select, .form-fieldset textarea{
border:1px solid #C0C0C0;
padding:4px;
background:#fff;
font-family:arial,verdana,tahoma,helvetica,sans-serif;
font-size:13px;
width:250px;
outline:0;
border-radius:3px;
float:left;
margin-right:8px;
}
.form-fieldset input[type="text"]:hover, .form-fieldset input[type="password"]:hover, .form-fieldset select:hover, .form-fieldset textarea:hover{
border-color:#7e818a;
box-shadow:0 1px 2px rgba(0, 0, 0, 0.15) inset;
}
.form-fieldset input[type="text"]:focus, .form-fieldset input[type="password"]:focus, .form-fieldset select:focus, .form-fieldset textarea:focus{
border-color:#51A7E8 !important;
box-shadow:0 1px 2px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(82, 168, 236, 0.5);
}

.form-fieldset input[disabled]{
background:#f0f0f0;
color:#555;
}
.form-fieldset input[disabled]:hover{
border-color:#C0C0C0;
}

.form-fieldset input[type="checkbox"]{
cursor:pointer;
margin:9px 0 0 4px;
}

.form-fieldset select{
width:260px;
}

.form-fieldset textarea{
width:400px;
height:150px;
}

.form-actions{
margin:20px 0 15px 188px;
}

.form-required{
color:#f00;
font-weight:700;
margin:0 0 0 4px;
}

.form-input-error{
border:1px solid #e8002a !important;
}

.form-input-state-ok, .form-input-state-error{
margin-top:6px;
float:left;
}
.form-input-state-error{
color:#e8002a;
}
.form-input-state-ok{
color:#529214;
}
.form-input-state-ok i, .form-input-state-error i{
font-size:15px;
margin-right:5px;
}

.form-global-state{
width:250px;
display:none;
}