.lightbox-link{
display:inline-block;
position:relative;
}

.lightbox-link:hover .lightbox-notif{
background:url(../images/lightbox.png) 0 -112px no-repeat;
display:block;
height:40px;
top:15px;
left:15px;
position:absolute;
width:40px;
cursor:pointer;
}

.lightbox-overlay{
position:absolute;
top:0;
left:0;
z-index:9999;
background-color:#000;
opacity:0.8;
display:none;
}

.lightbox{
position:absolute;
left:0;
width:100%;
z-index:10000;
text-align:center;
line-height:0;
font-weight:normal;
}
.lightbox-image{
display:block;
height:auto;
border-radius:3px;
position:absolute;
top:4px;
left:4px;
}
.lightbox a img{
border:none;
}

.lightbox-outerContainer{
background-color:#fff;
width:250px;
height:250px;
margin:0 auto;
border-radius:4px;
position:relative;
}

.lightbox-container{
padding:4px;
}

.lightbox-loader{
position:absolute;
top:43%;
left:0%;
height:25%;
width:100%;
text-align:center;
line-height:0;
}
.lightbox-loader i{
font-size:37px;
line-height:37px;
}

.lightbox-nav{
position:absolute;
top:0;
left:0;
height:100%;
width:100%;
z-index:10;
}

.lightbox-container > .nav{
left:0;
}

.lightbox-nav a{
outline:none;
}

.lightbox-prev, .lightbox-next{
width:45%;
height:100%;
cursor:pointer;
display:block;
opacity:0;
transition:opacity 0.2s ease 0s;
}
.lightbox-container:hover .lightbox-prev, .lightbox-container:hover .lightbox-next{
opacity:0.4;
}

.lightbox-prev span, .lightbox-next span{
width:28px;
height:43px;
display:block;
position:absolute;
background:url(../images/lightbox.png) no-repeat;
top:43%;
}

.lightbox-prev{
left:0;
float:left;
}
.lightbox-prev span{
left:15px;
background-position:0 -43px;
}
.lightbox-prev:hover{
opacity:1 !important;
}

.lightbox-next{
right:0;
float:right;
}
.lightbox-next span{
right:15px;
background-position:0 0;
}
.lightbox-next:hover{
opacity:1 !important;
}

.lightbox-dataContainer{
margin:0 auto;
padding-top:5px;
width:100%;
}
.lightbox-dataContainer:after{
content:"";
display:table;
clear:both;
}

.lightbox-data{
padding:0 4px;
}
.lightbox-details{
width:85%;
float:left;
text-align:left;
line-height:1.1em;
}
.lightbox-caption{
font-size:13px;
font-weight:bold;
line-height:1em;
color:#bbb;
}
.lightbox-number{
display:block;
clear:left;
padding-bottom:1em;
font-size:12px;
color:#999;
}
.lightbox-close{
display:block;
float:right;
width:28px;
height:26px;
background:url(../images/lightbox.png) 0 -86px no-repeat;
text-align:right;
outline:none;
opacity:0.7;
cursor:pointer;
transition:opacity 0.2s ease 0s;
}
.lightbox-close:hover{
opacity:1;
}