.lightboxOverlay{
position:absolute;
top:0;
left:0;
z-index:9999;
background-color:#000;
opacity:0.8;
display:none;
}

.lightbox{
position:absolute;
left:0;
width:100%;
z-index:10000;
text-align:center;
line-height:0;
font-weight:normal;
}
.lightbox .lb-image{
display:block;
height:auto;
border-radius:3px;
}
.lightbox a img{
border:none;
}

.lb-outerContainer{
position:relative;
background-color:#fff;
width:250px;
height:250px;
margin:0 auto;
border-radius:4px;
}
.lb-outerContainer:after{
content:"";
display:table;
clear:both;
}

.lb-container{
padding:4px;
}

.lb-loader{
position:absolute;
top:43%;
left:0%;
height:25%;
width:100%;
text-align:center;
line-height:0;
}
.lb-loader i{
font-size:37px;
line-height:37px;
}

.lb-nav{
position:absolute;
top:0;
left:0;
height:100%;
width:100%;
z-index:10;
}

.lb-container > .nav{
left:0;
}

.lb-nav a{
outline:none;
}

.lb-prev, .lb-next{
width:45%;
height:100%;
cursor:pointer;
display:block;
opacity:0;
transition:opacity 0.2s ease 0s;
}
.lb-container:hover .lb-prev, .lb-container:hover .lb-next{
opacity:0.4;
}

.lb-prev span, .lb-next span{
width:28px;
height:43px;
display:block;
position:absolute;
background:url(../images/lightbox.png) no-repeat;
top:43%;
}

.lb-prev{
left:0;
float:left;
}
.lb-prev span{
left:15px;
background-position:0 -43px;
}
.lb-prev:hover{
opacity:1 !important;
}

.lb-next{
right:0;
float:right;
}
.lb-next span{
right:15px;
background-position:0 0;
}
.lb-next:hover{
opacity:1 !important;
}

.lb-dataContainer{
margin:0 auto;
padding-top:5px;
width:100%;
}
.lb-dataContainer:after{
content:"";
display:table;
clear:both;
}

.lb-data{
padding:0 4px;
}
.lb-details{
width:85%;
float:left;
text-align:left;
line-height:1.1em;
}
.lb-caption{
font-size:13px;
font-weight:bold;
line-height:1em;
color:#bbb;
}
.lb-number{
display:block;
clear:left;
padding-bottom:1em;
font-size:12px;
color:#999;
}
.lb-close{
display:block;
float:right;
width:28px;
height:26px;
background:url(../images/lightbox.png) 0 -86px no-repeat;
text-align:right;
outline:none;
opacity:0.7;
cursor:pointer;
transition:opacity 0.2s ease 0s;
}
.lb-close:hover{
opacity:1;
}
