body{
background:#9abbdf;
margin:0;
}

#main{
width:900px;
margin:auto;
font:13px arial,verdana,tahoma,helvetica,sans-serif;
background:#fff url(../images/fond_content.png) repeat-y;
overflow:auto;
}

#header{
margin:10px 45px 0;
position:relative;
}
#header img{
border:0;
}
#header h1{
display:inline-block;
background:#888;
border-radius:6px;
margin:4px 0 0 0;
text-align:center;
padding:4px 10px;
color:#fff;
font-size:12px;
text-shadow:0 1px 1px #372424;
}
#header-top-right{
position:absolute;
right:0;
top:5px;
}
#header-top-right i{
font-size:15px;
margin-right:5px;
}

#menu{
margin:15px 45px;
background:#90b1dc;
border-radius:5px;
}

#nav{
background:#4D89C7;
box-shadow:0 1px 2px rgba(0, 0, 180, 0.3);
border-radius:4px;
height:35px;
border-bottom:1px solid #396CB8;
position:relative;
}
#nav ul{
padding:0;
margin:0;
}
#nav li{
list-style:none;
float:left;
text-align:center;
}
#nav .first-child{
border-radius:4px 0 0 4px;
font-size:20px;
}
#nav a{
font-weight:700;
display:block;
height:36px;
line-height:36px;
color:#fff;
text-decoration:none;
text-shadow:0 -1px 0 rgba(0, 0, 180, 0.4);
outline-style:none;
padding:0 25px;
color:#D8E4F3;
}
#nav a:hover, #nav a:focus{
background:#3e72b8;
color:#fff;
background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAQAAADifZiHAAAAJ0lEQVQIW2P4L8zE8JeJ4R8q%2Bo%2BKCIH%2FjEA1TAyMSIgJRkIQM9BYAGa0Dj%2FXpUiAAAAAAElFTkSuQmCC") repeat-x scroll 0 0, url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAABCAQAAACvIOyMAAAAE0lEQVQIW2P8z8jAwMAIh0wICAAa0gETv9XXOgAAAABJRU5ErkJggg%3D%3D") repeat-y scroll 100% 0, url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAABCAQAAACvIOyMAAAAEklEQVQIW2P8L8TwDwn%2Bh0MGAKnjDAIoAAlcAAAAAElFTkSuQmCC") repeat-y scroll 0 0, none repeat scroll 0 0 rgba(0, 0, 180, 0.4);
}
#nav a:active{
box-shadow:0 3px 4px #004268 inset;
}
#nav li.select > a{
box-shadow:2px 0 16px rgba(0, 0, 180, 0.6) inset;
background:#3560c1;
color:#fff;
}

#nav .nav-sub{
position:absolute;
display:none;
left:0;
width:100%;
background:#90B1DC;
border-radius:0 0 4px 4px;
top:39px;
}
#nav li.select .nav-sub{
display:block;
}
#nav .nav-sub a{
text-shadow:none !important;
box-shadow:none !important;
background:none !important;
}

#nav-sub{
height:39px;
}


#corps{
position:relative;
margin:20px 45px 0;
}

#nav-left-left{
float:left;
width:189px;
margin-right:20px;
border-right:1px solid #DEDEDE;
}
#nav-left-left ul{
margin:0;
padding:0;
}
#nav-left-left li{
list-style:none;
}
#nav-left-left li a{
display:block;
padding:7px 10px;
border-radius:3px 0 0 3px;
}
#nav-left-left li a:hover{
background:#EFF2F7;
text-decoration:none;
}
#nav-left-left li a.select{
font-weight:700;
background:#D8DFEA;
}
#nav-left-right{
float:left;
width:600px;
}


#footer{
color:#fff;
background:#457AB8;
margin:20px 27px 0;
padding:15px 15px 10px;
box-shadow:0 4px 4px rgba(0, 0, 0, 0.2) inset;
text-shadow:1px 1px 1px #2c4c79;
}
#footer a{
color:#fff;
text-decoration:none;
outline-style:none;
}
#footer a:hover, #footer a:focus{
color:#BDE9F0;
text-decoration:underline;
}
#footer-link{
float:left;
}
#footer-copyright{
float:right;
}
#footer-social{
margin-top:20px;
}
#footer-social ul{
margin:0;
padding:0;
}
#footer-social li{
float:left;
list-style:none;
margin:5px 20px 0 0;
}
#footer-social li a{
font-weight:400;
}
#footer-social li i{
margin-right:4px;
font-size:16px;
}

.clear{
clear:both;
}
.center{
text-align:center;
}

h1{
color:#5A5A5A;
font-size:25px;
margin:0 0 16px 60px;
}
h2{
font-size:19px;
}
h3{
color:#6EA014;
font-size:15px;
font-weight:700;
margin:15px 0 4px;
}
p{
margin:0;
}
hr{
border-color:#ccc;
border-image:none;
border-style:solid;
border-width:1px 0 0;
clear:both;
margin:10px 0;
}
form fieldset{
background-color:#F7F7F7;
border:1px solid #DEDEDE;
padding:5px;
}
form legend{
color:#519213;
font-size:18px;
font-weight:700;
margin-bottom:5px;
margin-left:16px;
background:#fff;
}
a{
color:#0367CB;
text-decoration:none;
outline-style:none;
cursor:pointer;
}
a:hover, .corps a:focus{
color:#02509d;
text-decoration:underline;
}
