<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<style>a{ color:#0367CB; text-decoration:none; }</style>
</head>
<body style="margin:0; padding:0; background:#fff;">
	<table cellpadding="0" cellspacing="0" border="0" width="100%" style="background:#9ABBDF;"><tbody>
	<tr><td>
		<table cellpadding="0" cellspacing="0" border="0" width="670" align="center"><tbody>
			<tr>
				<td>
					<table cellpadding="0" cellspacing="0" border="0" width="100%" style="background:#fff; border:0; border-left:1px solid #5F94CC; border-right:1px solid #5F94CC;"><tbody>
						<tr><td height="10" colspan="3"></td></tr>
						<tr>
							<td style="width:25px;"></td>
							<td style="font-size:13px; font-family:arial,verdana,tahoma,helvetica,sans-serif; color:#000;">
								<a href="http://www.salonrama.fr"><img src="http://static.salonrama.fr/bundles/salonramamain/images/logo.png" width="300" height="43" alt="Salonrama" style="border:0;color:#6DC6DD;font-family:Helvetica,Arial,sans-serif;font-size:30px;font-weight:bold;lett=
er-spacing:-4px;line-height:100%;outline:none;text-align:center;text-decoration:none;"></a>
								<br>
								<h1 style="color:#5A5A5A; font-size:22px; font-weight:700">{{ title }}</h1>
								{% autoescape false %}
								{{ body }}
								{% endautoescape %}
							</td>
							<td style="width:25px;"></td>
						</tr>
						<tr><td height="20" colspan="3"></td></tr>
					</tbody></table>
				</td>
			</tr>
			<tr>
				<td>
					<table cellpadding="0" cellspacing="0" border="0" width="100%" style="background:#4771B5; box-shadow:0 4px 4px rgba(0, 0, 0, 0.2) inset; text-shadow:1px 1px 1px #2c4c79;"><tbody>
						<tr><td height="15" colspan="3"></td></tr>
						<tr>
							<td style="width:25px;"></td>
							<td style="font-size:13px; font-family:arial,verdana,tahoma,helvetica,sans-serif; color:#fff;">
										
								Mot de passe oublié ? <a href="http://www.salonrama.fr/forgot_password" style="color:#BDE9F0;text-decoration:none;">Obtenez les instructions de réinitialisation</a>.<br>
								Besoin d'<a href="http://www.salonrama.fr/help" style="color:#BDE9F0;text-decoration:none;">aide</a> ?<br>
								<span style="font-size:11px; color:#ccd8eb;">Salonrama, Association à but non lucratif loi 1901, 368 route de talloires 74290 Menthon Saint Bernard</span>
							</td>
							<td style="width:25px;"></td>
						</tr>
						<tr><td height="10" colspan="3"></td></tr>
					</tbody></table>
				</td>
			</tr>
		</tbody></table>
	</td></tr>
	</tbody></table>
</body>
</html>