<body style="margin: 0; padding: 0; background: #fff;-webkit-text-size-ad=
just:100%;">
<table cellpadding="0" cellspacing="0" border="0" width="100%" clas=
s="outer" style="position:relative;background:#ddd;">
<tbody>
<tr>
<td>
<table class="inner frame" align="center" cellpadding="0" cellspacing=
="0" border="0" width="670" style="background:#fff;position:relativ=
e;border:0;border-left:1px solid #ccc;border-right:1px solid #ccc;">
<tbody>
<tr>
<td> <a href="https://twitter.com/i/redirect?url=https%3A%2F%2Ftwitter.=
com&amp;sig=bde8e0ae357c3eb562b3acb9a520b002c88845d1&amp;uid=836202140&=
amp;iid=8ad28a1e-be10-4dcf-872f-e78272cb63ab&amp;nid=167+21+20130713&am=
p;t=1" style="border:none;color:#0084b4;text-decoration:none;"><span cl=
ass="media_logo_div"></span></a>
<table cellpadding="0" cellspacing="0" border="0" width="670" class=
="header frame" style="background:#f2f2f2;table-layout:fixed;">
<tbody>
<tr>
<td class="header_left cut" style="width:19px;height:77px;"> &nbsp; </t=
d>
<td height="94" width="46" valign="top" rowspan="2" class="logo_h=
eader cut" style="background:#fff;line-height:100%;"><a href="https://t=
witter.com/i/redirect?url=https%3A%2F%2Ftwitter.com&amp;sig=bde8e0ae357=
c3eb562b3acb9a520b002c88845d1&amp;uid=836202140&amp;iid=8ad28a1e-be10-4=
dcf-872f-e78272cb63ab&amp;nid=167+21+20130713&amp;t=1" style="border:=
none;color:#0084b4;text-decoration:none;"><img class="logo cut" src="ht=
tps://ea.twimg.com/email/t1/ribbon.png" width="46" height="94" style==
"border:0;line-height:100%;border:0;" /></a></td>
<td class="cut" width="9"> &nbsp; </td>
<td width="10" height="77" class="header_padding"> &nbsp; </td>
<td width="458" height="77" class="main_header media_header" style==
"font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;color:#333;">
<table border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td class="main_name" style="font-size:14px;font-weight:bold;color:#000=
;"> <span dir="ltr">Olivier Tassinari,</span> </td>
</tr>
<tr>
<td class="subtitle" style="font-size:14px;color:#666;"> Les derni&egra=
ve;res infos de Twitter sur le produit et la politique </td>
</tr>
</tbody>
</table> </td>
<td width="10" height="77" class="header_padding"> &nbsp; </td>
<td class="main_avatar cut" width="32" style="text-align:right;"> <a =
href="https://twitter.com/i/redirect?url=https%3A%2F%2Ftwitter.com%2Fol=
ivtassinari&amp;sig=47040bd64cc0992f64964039a6bce126ee53f15a&amp;uid=83=
6202140&amp;iid=8ad28a1e-be10-4dcf-872f-e78272cb63ab&amp;nid=167+22+201=
30713&amp;t=1" style="border:none;color:#0084b4;text-decoration:none;">=
<img class="cut" src="https://si0.twimg.com/profile_images/3751369703/f=
b91c4d8c8937b317894038dac71650d_reasonably_small.jpeg" width="32" height=
="32" alt="Olivier Tassinari" style="background:#fff;border-radius:5p=
x;border:0;" /></a> </td>
<td class="col cut" style="width:85px;"></td>
</tr>
<tr>
<td class="main header_drop cut" style="background:#fff;border-top:1px =
solid #ddd;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">&nb=
sp;</td>
<td class="main header_drop cut" style="background:#fff;border-top:1px =
solid #ddd;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">&nb=
sp;</td>
<td class="main header_drop media_header" height="17" style="backgrou=
nd:#fff;border-top:1px solid #ddd;font-family:'Helvetica Neue', Helvetica, =
Arial, sans-serif;"><img width="1" height="1" style="display: block;b=
order:0;" src="https://twitter.com/scribe/ibis?uid=836202140&amp;iid==
8ad28a1e-be10-4dcf-872f-e78272cb63ab&amp;nid=167+20+20130713&amp;t=1" /=
></td>
<td class="main header_drop cut" height="17" colspan="4" style="bac=
kground:#fff;border-top:1px solid #ddd;font-family:'Helvetica Neue', Helvet=
ica, Arial, sans-serif;">&nbsp;</td>
</tr>
</tbody>
</table> </td>
<td rowspan="3"></td>
</tr>
<tr>
<td class="content" style="background:#fff;">  <style type="text/css"=
>
@media only screen and (max-device-width: 480px) {
table[class=outer] .shadow span {
display:block;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
width: 278px;
}
table[class=outer] .shadow {
padding: 0 !important;
}
}
</style>
<table width="670" border="0" cellpadding="0" cellspacing="0" class=
="main frame" style="background:#fff;font-family:'Helvetica Neue', Helv=
etica, Arial, sans-serif;">
<tbody>
<tr>
<td class="col cut" style="width:85px;"></td>
<td class="media_main">
<table cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td class="mid text" style="padding:10px;font-family:'Helvetica Neue', =
Helvetica, Arial, sans-serif;color:#333;padding-bottom:0;font-size:15px;lin=
e-height:20px;"> Bonjour Olivier Tassinari, </td>
</tr>
<tr>
<td height="10"></td>
</tr>
<tr>
<td class="mid text" style="padding:10px;font-family:'Helvetica Neue', =
Helvetica, Arial, sans-serif;color:#333;padding-bottom:0;font-size:15px;lin=
e-height:20px;"> Nous avons beaucoup travaill&eacute; pour rendre Twitter e=
ncore plus amusant, utile et s&eacute;curis&eacute;. Dans les deux derniers=
 mois, nous avons en effet propos&eacute; : </td>
</tr>
<tr>
<td height="7"></td>
</tr>
<tr>
<td class="mid text" style="padding:10px;font-family:'Helvetica Neue', =
Helvetica, Arial, sans-serif;color:#333;padding-bottom:0;font-size:15px;lin=
e-height:20px;">
<ul>
<li><strong>Vine pour Android</strong> : Vine est le meilleur moyen de voir=
 et partager la vie en vid&eacute;o. Cr&eacute;ez de mani&egrave;re simple =
et amusante des vid&eacute;os courtes, belles et int&eacute;ressantes pour =
vos amis et votre famille. Maintenant <a href="https://t.co/redirect?url=
=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%co.vine.an=
droid&amp;sig=75a576bf37fda9b3f6564696e2a1e47cfe6b1cf7&amp;uid=83620214=
0&amp;iid=8ad28a1e-be10-4dcf-872f-e78272cb63ab&amp;nid=167+1357+2013071=
3&amp;t=1" style="border:none;color:#0084b4;text-decoration:none;">disp=
onible sur Google Play</a> (et disponible pour iPhone dans l'<a href="htt=
ps://t.co/redirect?url=https%3A%2F%2Fitunes.apple.com%2Fus%2Fapp%2Fvine%2=
Fid592447445%3Fmt%8&amp;sig=1da94deeb35d798dc1e967c5354e2002f73aefa6&am=
p;uid=836202140&amp;iid=8ad28a1e-be10-4dcf-872f-e78272cb63ab&amp;nid==
167+1358+20130713&amp;t=1" style="border:none;color:#0084b4;text-decora=
tion:none;">App Store</a>).</li>
<br />
<li><strong>Des mises &agrave; jour des applications Windows Phone et Black=
Berry</strong> : Profitez des derni&egrave;res options et fonctionnalit&eac=
ute;s de Twitter partout o&ugrave; vous allez. Retrouvez ces applications s=
ur notre <a href="https://twitter.com/i/redirect?url=https%3A%2F%2Ftwit=
ter.com%2Fdownload&amp;sig=c6cab88c7222d795561b94d307caac4825a935cd&amp;u=
id=836202140&amp;iid=8ad28a1e-be10-4dcf-872f-e78272cb63ab&amp;nid=167=
+1359+20130713&amp;t=1" style="border:none;color:#0084b4;text-decoratio=
n:none;">page de t&eacute;l&eacute;chargements pour les mobiles</a>.</li>
<br />
<li><strong>La v&eacute;rification de connexion</strong> : Ajoutez un deuxi=
&egrave;me contr&ocirc;le au processus de connexion pour garantir que vous =
seul puissiez vous connecter &agrave; votre compte. <a href="https://twit=
ter.com/i/redirect?url=https%3A%2F%2Fblog.twitter.com%2F2013%2Fgetting-st=
arted-login-verification&amp;sig=8ac1ce2e599dcfeb7d9bf2a438d95ac22b0903cc=
&amp;uid=836202140&amp;iid=8ad28a1e-be10-4dcf-872f-e78272cb63ab&amp;nid=
=167+1360+20130713&amp;t=1" style="border:none;color:#0084b4;text-dec=
oration:none;">Ajoutez et confirmez un num&eacute;ro de t&eacute;l&eacute;p=
hone et une adresse email</a> avec votre compte pour profiter de cette s&ea=
cute;curit&eacute; suppl&eacute;mentaire d&egrave;s maintenant.</li>
</ul> </td>
</tr>
<tr>
<td height="10"></td>
</tr>
<tr>
<td class="mid text" style="padding:10px;font-family:'Helvetica Neue', =
Helvetica, Arial, sans-serif;color:#333;padding-bottom:0;font-size:15px;lin=
e-height:20px;"> Nous sommes aujourd'hui pr&ecirc;ts &agrave; tester une fa=
&ccedil;on de rendre les annonces sur Twitter encore plus utiles &agrave; n=
os utilisateurs am&eacute;ricains, en affichant des contenus sponsoris&eacu=
te;s de marques et d'entreprises pour lesquelles ils ont montr&eacute; de l=
'int&eacute;r&ecirc;t. Ces annonces personnalis&eacute;es sont bas&eacute;e=
s sur des informations comme celles li&eacute;es &agrave; votre navigateur =
(cookies), que nos partenaires annonceurs partagent avec nous. Pour en savo=
ir plus, lisez <a href="https://twitter.com/i/redirect?url=https%3A%2F%=
2Fblog.twitter.com%2F2013%2Fexperimenting-with-new-ways-to-tailor-ads&amp;s=
ig=11841c0aad6695e76d03072ff01b19b7f3158f96&amp;uid=836202140&amp;iid=
=8ad28a1e-be10-4dcf-872f-e78272cb63ab&amp;nid=167+1361+20130713&amp;t=
=1" style="border:none;color:#0084b4;text-decoration:none;">cet article=
 sur notre blog</a>. </td>
</tr>
<tr>
<td height="10"></td>
</tr>
<tr>
<td class="mid text" style="padding:10px;font-family:'Helvetica Neue', =
Helvetica, Arial, sans-serif;color:#333;padding-bottom:0;font-size:15px;lin=
e-height:20px;"> Si nous voulons rendre nos annonces plus utiles, nous voul=
ons aussi donner aux utilisateurs des options de confidentialit&eacute; sim=
ples et bien r&eacute;elles. D&eacute;cochez simplement la case Contenu spo=
nsoris&eacute; dans vos <a href="https://twitter.com/i/redirect?url=htt=
ps%3A%2F%2Ftwitter.com%2Fsettings%2Faccount&amp;sig=5b9f0748ebda6e4deca49=
e681779d7231c3033f0&amp;uid=836202140&amp;iid=8ad28a1e-be10-4dcf-872f-e=
78272cb63ab&amp;nid=167+1362+20130713&amp;t=1" style="border:none;col=
or:#0084b4;text-decoration:none;">param&egrave;tres de compte</a> et Twitte=
r ne croisera plus votre compte avec des informations partag&eacute;es par =
nos partenaires annonceurs pour la personnalisation des annonces. C'est le =
seul endroit o&ugrave; vous devrez d&eacute;sactiver cette fonctionnalit&ea=
cute; sur Twitter. </td>
</tr>
<tr>
<td height="10"></td>
</tr>
<tr>
<td class="mid text" style="padding:10px;font-family:'Helvetica Neue', =
Helvetica, Arial, sans-serif;color:#333;padding-bottom:0;font-size:15px;lin=
e-height:20px;"> Et parce que Twitter prend en charge la fonctionnalit&eacu=
te; <a href="https://twitter.com/i/redirect?url=https%3A%2F%2Fsupport.t=
witter.com%2Farticles%2F20169453&amp;sig=4810b42f3fbebdb6b8c2909737587e77=
09321fe6&amp;uid=836202140&amp;iid=8ad28a1e-be10-4dcf-872f-e78272cb63ab=
&amp;nid=167+1363+20130713&amp;t=1" style="border:none;color:#0084b4;=
text-decoration:none;">Do Not Track</a> (DNT), Twitter ne recevra pas d'inf=
ormations de navigation de nos partenaires annonceurs pour la personnalisat=
ion des annonces si l'option DNT est <a href="https://t.co/redirect?url=
=http%3A%2F%2Fdonottrack.us%2F&amp;sig=86da0ad651bf2ce3713f78b211fdbaf2=
4abc2866&amp;uid=836202140&amp;iid=8ad28a1e-be10-4dcf-872f-e78272cb63ab=
&amp;nid=167+1364+20130713&amp;t=1" style="border:none;color:#0084b4;=
text-decoration:none;">activ&eacute;e dans votre navigateur</a>. </td>
</tr>
<tr>
<td height="10"></td>
</tr>
<tr>
<td class="mid text" style="padding:10px;font-family:'Helvetica Neue', =
Helvetica, Arial, sans-serif;color:#333;padding-bottom:0;font-size:15px;lin=
e-height:20px;"> Nous proposons constamment de nouvelles mises &agrave; jou=
r, alors gardez un =C5=93il sur le <a href="https://twitter.com/i/redirec=
t?url=https%3A%2F%2Fblog.twitter.com%2Fcompany&amp;sig=9bd92fb365dc53fe=
a9fd997cda6c92ebd3e19cbf&amp;uid=836202140&amp;iid=8ad28a1e-be10-4dcf-8=
72f-e78272cb63ab&amp;nid=167+1365+20130713&amp;t=1" style="border:non=
e;color:#0084b4;text-decoration:none;">Blog Twitter officiel</a> ou suivez =
<a href="https://twitter.com/i/redirect?url=https%3A%2F%2Ftwitter.com%2=
Ftwitter&amp;sig=ccc5588900bb96bbbadf04a1a0ca7b419a7d705b&amp;uid=83620=
2140&amp;iid=8ad28a1e-be10-4dcf-872f-e78272cb63ab&amp;nid=167+1366+2013=
0713&amp;t=1" style="border:none;color:#0084b4;text-decoration:none;">@=
twitter</a> pour les derni&egrave;res infos. En attendant, visitez notre <a=
 href="https://twitter.com/i/redirect?url=https%3A%2F%2Fsupport.twitter=
.com%2Farticles%2F20170405&amp;sig=c7eb547f9db12f4dfad8246e1a38aeaf7f22b9=
18&amp;uid=836202140&amp;iid=8ad28a1e-be10-4dcf-872f-e78272cb63ab&amp;n=
id=167+1367+20130713&amp;t=1" style="border:none;color:#0084b4;text-d=
ecoration:none;">Centre d'assistance</a> pour plus d'informations sur ces o=
ptions, et lisez la <a href="https://twitter.com/i/redirect?url=https%3=
A%2F%2Ftwitter.com%2Fprivacy&amp;sig=ab1d7a4091cc5de2e448b30fe178cd30b69f=
78f3&amp;uid=836202140&amp;iid=8ad28a1e-be10-4dcf-872f-e78272cb63ab&amp=
;nid=167+1368+20130713&amp;t=1" style="border:none;color:#0084b4;text=
-decoration:none;">br&egrave;ve mise &agrave; jour de notre Politique de co=
nfidentialit&eacute;</a> dans la section relative aux tiers. Merci d'utilis=
er Twitter ! </td>
</tr>
<tr>
<td height="10"></td>
</tr>
<tr>
<td class="mid text" style="padding:10px;font-family:'Helvetica Neue', =
Helvetica, Arial, sans-serif;color:#333;padding-bottom:0;font-size:15px;lin=
e-height:20px;"> L'&Eacute;quipe Twitter </td>
</tr>
<tr>
<td height="25"></td>
</tr>
</tbody>
</table> </td>
<td class="col cut" style="width:85px;"></td>
</tr>
</tbody>
</table> </td>
</tr>
<tr>
<td>
<table bgcolor="#eeeeee" border="0" cellpadding="0" cellspacing="0"=
 width="670" class="frame footer" style="background-color:#eee;backgr=
ound-image:url('https://ea.twimg.com/email/t1/shadow-bottom.jpg');backgroun=
d-position:top;background-repeat:repeat-x;border-top-color:#ddd;border-top-=
style:solid;border-top-width:1px;">
<tbody>
<tr>
<td colspan="4" height="16" class="footer-padding-top"></td>
</tr>
<tr>
<td class="col cut" style="width:85px;"></td>
<td class="footer_body media_footer" style="font-family:'Helvetica Neue=
', Helvetica, Arial, sans-serif;font-size:12px;line-height:17px;color:#777;=
text-shadow:0 1px 0 #fff;">
<div>
Mot de passe Twitter oubli&eacute; ?
<a class="reset" href="https://twitter.com/i/redirect?url=https%3A%2F=
%2Ftwitter.com%2Faccount%2Fresend_password&amp;sig=f5d73c6d6c8577b4b95889=
880e513526930e35d0&amp;uid=836202140&amp;iid=8ad28a1e-be10-4dcf-872f-e7=
8272cb63ab&amp;nid=167+24+20130713&amp;t=1" style="border:none;color:=
#0084b4;text-decoration:none;">Obtenez les instructions de r&eacute;initial=
isation.</a>
</div>
<div class="reset">
Si vous recevez ce message par erreur et que vous n'&ecirc;tes pas inscrit =
sur Twitter, cliquez sur
<a href="https://twitter.com/i/redirect?url=https%3A%2F%2Ftwitter.com%2=
Faccount%2Fnot_my_account%2Folivtassinari%2FGG8D8-CDAA3-137377&amp;sig=94=
a6fc6991c3cd39f5eea4cbf3609a2a953316e2&amp;uid=836202140&amp;iid=8ad28a=
1e-be10-4dcf-872f-e78272cb63ab&amp;nid=167+25+20130713&amp;t=1" style=
="border:none;color:#0084b4;text-decoration:none;">ce n'est pas mon compt=
e</a>.
</div>
<div>
<a href="#" class="address" style="border:none;color:#0084b4;text-dec=
oration:none;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;tex=
t-decoration:none;font-size:11px;line-height:17px;color:#999999;text-shadow=
:0 1px 0 #fff;">Twitter, Inc. 1355 Market St., Suite 900 <span class="nob=
reak" style="white-space:nowrap;">San Francisco, CA 94103 </span></a>
</div> </td>
<td class="col cut" style="width:85px;"></td>
</tr>
<tr>
<td colspan="3" class="footer-padding-bottom" height="25"></td>
</tr>
</tbody>
</table> </td>
</tr>
</tbody>
</table> </td>
</tr>
</tbody>
</table>
<img width="1" height="1" src="loadimage" style="border:0;" />
</body>
</html>