#storyboard{
margin:0 auto 15px;
height:30px;
font-size:16px;
font-weight:700;
color:#000;
z-index:1;
position:relative;
width:800px;
}
#storyboard ul{
margin:0;
padding:0;
}
#storyboard li{
display:block;
width:135px;
height:30px;
line-height:30px;
float:left;
padding-left:12px;
background:url(etape.png) no-repeat;
}
#storyboard a{
color:#000;
}
#storyboard .Blanc{
background-position:right -150px;
}
#storyboard .CourStart{
background-position:right 0;
}
#storyboard .CourEnd{
background-position:right -90px;
}
#storyboard .CoursModi{
background-position:right -30px;
}
#storyboard .Ok{
background-position:right -120px;
}
#storyboard .OkStart{
background-position:right -60px;
}
#storyboard .Fin{
background-position:0 0;
}
#storyboard .FinBlanc{
background-position:0 -150px;
}


#EtapeSuivant, #EtapePrecedent{
height:80px;
width:165px;
cursor:pointer;
font-size:14px;
}
#EtapeSuivant:hover, #EtapePrecedent:hover, #EtapeAide:hover{
background-position:bottom;
color:#222;
}
#EtapeSuivant p, #EtapePrecedent p{
font-size:15px;
padding-top:28px;
font-weight:700;
line-height:20px;
}
#EtapeSuivant{
background:url(suivant.png) no-repeat;
float:right;
margin-right:20px;
}
#EtapeSuivant p{
padding-left:18px;
}
#EtapePrecedent{
background:url(precedent.png) no-repeat;
float:left;
margin-left:20px;
text-align:right;
}
#EtapePrecedent p{
padding-right:11px;
font-size:14px;
}
#EtapeAide{
background:url(help.png) no-repeat 0 5px;
cursor:pointer;
height:55px;
margin-right:200px;
width:50px;
float:right;
}
#EtapeAide p{
color:#515151;
font-size:13px;
font-weight:700;
padding-left:12px;
padding-top:57px;
}

#EtapeValide{
font-size:23px;
margin:15px 155px 10px 0;
padding:10px 20px;
float:right;
}