#theme-select{
overflow:auto;
height:460px;
border:1px solid #ccc;
border-left:none;
border-right:none;
padding:5px 0;
margin-bottom:10px;
}

.theme-select-item{
margin:7px;
padding:7px;
border-radius:8px;
float:left;
}
.theme-select-item img{
display:block;
}
.theme-select-item.select{
border:3px solid #f0a910;
background:#fdf5e3;
margin:4px;
}
.theme-select-item.select .theme-select-item-radio{
background-color:#fdda71;
}
.theme-select-item-radio{
background:#e9e9e9;
height:14px;
padding:7px 11px;
cursor:pointer;
}
.theme-select-item-radio label{
position:relative;
top:-2px;
margin-left:2px;
cursor:pointer;
}
.theme-select-item-radio input{
cursor:pointer;
}