{% set add_noscript = true %}

{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Etape 2 - Mon salon</title>
{% endblock %}

{% block body %}
	<h1>Etape 2 - Mon salon</h1>
{% endblock %}