{% set add_noscript = true %}

{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Etape 5 - Publication</title>
{% endblock %}

{% block body %}
	<h1>Etape 5 - Publication</h1>
{% endblock %}