{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Compte créé</title>
{% endblock %}

{% block body %}
	<h1>Compte créé</h1>

	<div class="cadre-small cadre-small-green">
		<i class="icon-ok"></i><strong>Votre compte viens d'être créé, vous devez maintenant l'activer pour mettre votre site en ligne.<br>
			Nous avons envoyé les instructions pour activer votre compte à {{ email }}</strong>.<br><br>
			Si vous ne recevez pas les instructions d'ici une minute ou deux, vérifiez les filtres de spams et de courriers indésirables de votre compte.<br>
			Vous n'avez pas reçu l'email de validation ? <a href="{{ path('salonrama_main_confirm_email_send', { 'email': email }) }}">Me renvoyer un email d'activation</a>.
	</div>
{% endblock %}