{% set add_noscript = true %}

{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Etape 4 - Adresse internet</title>
{% endblock %}

{% block body %}
	<h1>Etape 4 - Adresse internet</h1>
{% endblock %}