{% set add_noscript = true %}

{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Etape 2 - Mon salon</title>

	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/buildsite/step.css') }}"/>
{% endblock %}

{% block body %}
	{% autoescape false %}
	{{ storyboard }}
	{% endautoescape %}

	<h1>Etape 2 - Mon salon</h1>

	{% autoescape false %}
	{{ foot }}
	{% endautoescape %}
{% endblock %}