{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Mon compte</title>
{% endblock %}

{% block body %}
	<h1>Mon compte</h1>

	{% if message %}
	{% if message.state == 0 %}
	<div class="cadre-small cadre-small-green">
		{% autoescape false %}
		<i class="icon-ok"></i>{{ message.text }}
		{% endautoescape %}
	</div>
	{% elseif message.state == 1 %}
	<div class="cadre-small cadre-small-red">
		<i class="icon-warning-sign"></i>{{ message.text }}
	</div>
	{% endif %}
	{% endif %}

	<img src="{{ snapshotUrl }}"/>

{% endblock %}