{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Paramètres - Email</title>

    <link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/form.css') }}"/>

	<style>

	#email-post{
	margin-bottom:30px;
	}

	</style>
{% endblock %}

{% block javascript %}
	<script src="{{ asset('bundles/salonramamain/js/form.js') }}"></script>

	<script>

	var busy = false;

	$(document).ready(function()
	{
		var emailForm = new Form($('#email-post'), function(result, values, self){
			if(result == 0)
			{
				if(busy == false)
				{
					busy = true;
					self.setGlobalState(2, 'Modifications en cours...');

					$.ajax({
						type: "POST",
						url: "",
						data: values,
						dataType: "json",
						success: function(response){
							if(response.state == 0)
							{
								email = values['email-email'];
								self.submit.prop('disabled', true);
								self.setGlobalState(response.state, response.text);
							}
							else
							{
								self.setInputState($('#email-email'), response);
								self.setGlobalState(null);
							}

							busy = false;
						},
						error: function(rs, e) {
							self.setGlobalState(1, "Échec lors de la requête.");
							busy = false;
						},
					});
				}
			}
		});
		emailForm.addInput('email-email', { regexp: 'email', maxLength: 320 });

		var emailEmail = $('#email-email');
		var email = emailEmail.val();

		emailEmail.on('input', function(){
			if(emailEmail.val() != email)
			{
				emailForm.submit.prop('disabled', false);
			}
			else
			{
				emailForm.submit.prop('disabled', true);
			}
		});

		var newsletterForm = new Form($('#newsletter-post'), function(result, values, self){
			if(result == 0)
			{
				if(busy == false)
				{
					busy = true;
					self.setGlobalState(2, 'Modifications en cours...');

					$.ajax({
						type: "POST",
						url: "",
						data: values,
						dataType: "json",
						success: function(response){
							self.setGlobalState(response.state, response.text);

							if(response.state == 0)
							{
								send = values['newsletter-send'];
								self.submit.prop('disabled', true);
							}

							busy = false;
						},
						error: function(rs, e) {
							self.setGlobalState(1, "Échec lors de la requête.");
							busy = false;
						},
					});
				}
			}
		});
		newsletterForm.addInput('newsletter-send');

		var newsletterSend = $('#newsletter-send');
		var send = newsletterSend.prop('checked');

		newsletterSend.change(function(){
			if(newsletterSend.prop('checked') != send)
			{
				newsletterForm.submit.prop('disabled', false);
			}
			else
			{
				newsletterForm.submit.prop('disabled', true);
			}
		});
	});

	</script>
{% endblock %}

{% block body %}
	<h1>Paramètres</h1>
	<div id="nav-left-left">
		{{ include("SalonramaMainBundle:Account:settings_nav.html.twig") }}
	</div>
	<div id="nav-left-right">
		<form method="post" action="" id="email-post">
		<fieldset>
			<legend>Modifier mon email</legend>

			<fieldset class="form-fieldset">
				<label for="email-email">Email</label>
				<div class="form-controls">
					<input type="text" name="email-email" id="email-email" value="{{ app.user.email }}">
				</div>
			</fieldset>

			<div class="form-actions">
				<div class="form-global-state cadre-small"></div>
				<button type="submit" class="button-small button-small-green" disabled="disabled">Modifier mon email</button>
			</div>
		</fieldset>
		</form>

		<form method="post" action="" id="newsletter-post">
		<fieldset>
			<legend>Newsletter</legend>

			<fieldset class="form-fieldset">
				<label for="newsletter-send">M'abonner à la newsletter</label>
				<div class="form-controls">
					{% if app.user.account.newsletterSend %}
					<input type="checkbox" name="newsletter-send" id="newsletter-send" checked="checked"/>
					{% else %}
					<input type="checkbox" name="newsletter-send" id="newsletter-send"/>
					{% endif %}
				</div>
			</fieldset>

			<div class="form-actions">
				<div class="form-global-state cadre-small"></div>
				<button type="submit" class="button-small button-small-green" disabled="disabled">Sauvegarder les modifications</button>
			</div>
		</fieldset> 
		</form>
	</div>
	<div class="clear"></div>
{% endblock %}