{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Paramètres - Supprimer mon compte</title>

	{% stylesheets 'bundles/salonramamain/css/form.css' %}
		<link rel="stylesheet" href="{{ asset_url }}"/>
	{% endstylesheets %}
{% endblock %}

{% block javascript %}
	{% javascripts 'bundles/salonramamain/js/form.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<script>

	var busy = false;

	$(document).ready(function()
	{
		$('#delete-password').focus();

		var deleteForm = new Form($('#delete-post'), function(result, values, self){
			if(result == 0)
			{
				if(busy == false)
				{
					busy = true;
					self.setGlobalState(2, 'Suppression en cours...');

					$.ajax({
						type: "POST",
						url: "",
						data: values,
						dataType: "json",
						success: function(response){
							self.setGlobalState(response.state, response.text);

							if(response.state == 0)
							{
								
							}

							busy = false;
						},
						error: function(rs, e) {
							self.setGlobalState(1, "Échec lors de la requête.");
							busy = false;
						},
					});
				}
			}
		});
		deleteForm.addInput('delete-password', { minLength: 4, maxLength: 25 });
	});

	</script>
{% endblock %}

{% block body %}
	<h1>Paramètres</h1>
	<div id="nav-tab-left" class="nav-tab">
		{{ include("SalonramaMainBundle:Account:settings_nav.html.twig") }}
	</div>
	<div id="nav-tab-right">
		<div class="frame-small frame-small-orange">
			<i class="icon-info-sign"></i>Si vous avez un retour quelconque dont vous voudriez nous faire part, <a href="{{ path("salonrama_main_contact") }}">contactez nous</a>.<br>
			Avant de désactiver notre compte, sachez que :
			<ul>
				<li>Votre site sera supprimé <b>définitivement</b>.</li>
				<li>Nous n'avons aucun contrôle sur le contenu indexé par les moteurs de recherche tels que Google.</li>
			</ul>
		</div>

		<form method="post" action="" id="delete-post">
		<fieldset>
			<legend>Supprimer mon compte</legend>

			<fieldset class="form-fieldset">
				<label for="delete-password">Mot de passe</label>
				<div class="form-controls">
					<input type="password" name="delete-password" id="delete-password" autocomplete="off">
				</div>
			</fieldset>

			<div class="form-actions">
				<div class="form-global-state frame-small"></div>
				<button type="submit" class="button-small button-small-red">Supprimer mon compte</button>
			</div>
		</fieldset> 
		</form>
	</div>
	<div class="clear"></div>
{% endblock %}