{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Paramètres - Email</title>

	{% stylesheets 'bundles/salonramamain/css/form.css' %}
		<link rel="stylesheet" href="{{ asset_url }}"/>
	{% endstylesheets %}

	<style>

	#email-post{
	margin-bottom:30px;
	}

	</style>
{% endblock %}

{% block javascript %}
	{% javascripts 'bundles/salonramamain/js/form.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<script>

	var busy = false;

	$(document).ready(function()
	{
		var emailForm = new Form($('#email-post'), function(result, values, self){
			if(result == 0)
			{
				if(busy == false)
				{
					busy = true;
					self.setGlobalState(2, 'Modifications en cours...');

					$.ajax({
						type: "POST",
						url: "",
						data: values,
						dataType: "json",
						success: function(response){
							if(response.state == 0)
							{
								self.setInitValue();
								self.setGlobalState(response.state, response.text);
							}
							else
							{
								self.setInputState($('#email-email'), response);
								self.setGlobalState(null);
							}

							busy = false;
						},
						error: function(rs, e) {
							self.setGlobalState(1, "Échec lors de la requête.");
							busy = false;
						},
					});
				}
			}
		}, true);
		emailForm.addInput('email-email', { regexp: 'email' });
		emailForm.setInitValue();

		var newsletterForm = new Form($('#newsletter-post'), function(result, values, self){
			if(result == 0)
			{
				if(busy == false)
				{
					busy = true;
					self.setGlobalState(2, 'Modifications en cours...');

					$.ajax({
						type: "POST",
						url: "",
						data: values,
						dataType: "json",
						success: function(response){
							self.setGlobalState(response.state, response.text);

							if(response.state == 0)
							{
								self.setInitValue();
							}

							busy = false;
						},
						error: function(rs, e) {
							self.setGlobalState(1, "Échec lors de la requête.");
							busy = false;
						},
					});
				}
			}
		}, true);
		newsletterForm.addInput('newsletter-send');
		newsletterForm.setInitValue();
	});

	</script>
{% endblock %}

{% block body %}
	<h1>Paramètres</h1>
	<div id="nav-tab-left" class="nav-tab">
		{{ include("SalonramaMainBundle:Account:settings_nav.html.twig") }}
	</div>
	<div id="nav-tab-right">
		<form method="post" action="" id="email-post">
		<fieldset>
			<legend>Modifier mon email</legend>

			<fieldset class="form-fieldset">
				<label for="email-email">Email</label>
				<div class="form-controls">
					<input type="text" name="email-email" id="email-email" value="{{ app.user.email }}">
				</div>
			</fieldset>

			<div class="form-actions">
				<div class="form-global-state frame-small"></div>
				<button type="submit" class="button-small button-small-green" disabled="disabled"><i class="icon-pencil"></i>Modifier mon email</button>
			</div>
		</fieldset>
		</form>

		<form method="post" action="" id="newsletter-post">
		<fieldset>
			<legend>Newsletter</legend>

			<fieldset class="form-fieldset">
				<label for="newsletter-send">M'abonner à la newsletter</label>
				<div class="form-controls">
					<input type="checkbox" name="newsletter-send" id="newsletter-send"
					{% if app.user.account.newsletterSend %} checked="checked"{% endif %}/>
				</div>
			</fieldset>

			<div class="form-actions">
				<div class="form-global-state frame-small"></div>
				<button type="submit" class="button-small button-small-green" disabled="disabled"><i class="icon-hdd"></i>Sauvegarder les modifications</button>
			</div>
		</fieldset> 
		</form>
	</div>
	<div class="clear"></div>
{% endblock %}