{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Modifier le mot de passe</title>

    <link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/form.css') }}"/>

	<script src="{{ asset('bundles/salonramamain/js/form.js') }}"></script>
{% endblock %}

{% block body %}
	<div id="nav-left-left">
		<ul>
			<li>lol1</li>
			<li>lol2</li>
		</ul>
	</div>
	<div id="nav-left-right">
		<form method="post" action="" id="password-post">
		<fieldset>
			<legend>Modifier le mot de passe</legend>

			<fieldset class="form-fieldset">
				<label for="password-current">Mot de passe actuel</label>
				<div class="form-controls">
					<input type="password" name="password-current" id="password-current">
				</div>
			</fieldset>

			<fieldset class="form-fieldset">
				<label for="password-new">Nouveau mot de passe</label>
				<div class="form-controls">
					<input type="password" name="password-new" id="password-new">
				</div>
			</fieldset>

			<fieldset class="form-fieldset">
				<label for="password-confirmation">Vérifiez votre mot de passe</label>
				<div class="form-controls">
					<input type="password" name="password-confirmation" id="password-confirmation">
				</div>
			</fieldset>

			<div class="form-actions">
				<div id="password-global-state" class="form-global-state cadre-small"></div>
				<button type="submit" id="password-submit" class="button-small button-small-green">Modifier le mot de passe</button>
			</div>
		</fieldset> 
		</form>
	</div>
	<div class="clear"></div>
{% endblock %}