{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Général</title>
{% endblock %}

{% block body %}
	<h1>Paramètres</h1>
	<div id="nav-left-left">
		{{ include("SalonramaMainBundle:Account:settings_nav.html.twig") }}
	</div>
	<div id="nav-left-right">
	</div>
	<div class="clear"></div>
{% endblock %}