{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Paramètres - Email</title>

    <link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/form.css') }}"/>

	<script src="{{ asset('bundles/salonramamain/js/form.js') }}"></script>

	<style>

	#email-post{
	margin-bottom:30px;
	}

	</style>

	<script>

	var busy = false;

	$(document).ready(function()
	{
		var emailEmail = $('#email-email');
		var emailSubmit = $('#email-submit');
		var email = emailEmail.val();

		emailEmail.on('input', function(){
			if(emailEmail.val() != email)
			{
				emailSubmit.prop('disabled', false);
			}
			else
			{
				emailSubmit.prop('disabled', true);
			}
		});

		var formEmail = new Form('email-post', 'email-submit', 'email-global-state', function(result, values, form){
			if(result == 0)
			{
				if(busy == false)
				{
					busy = true;
					this.setGlobalState(2, 'Modifications en cours...');

					$.ajax({
						type: "POST",
						url: "",
						data: values,
						dataType: "json",
						success: function(response){
							formEmail.setGlobalState(response.state, response.text);

							if(response.state == 0)
							{
								email = emailEmail.val();
								emailSubmit.prop('disabled', true);
							}

							busy = false;
						},
						error: function(rs, e) {
							formEmail.setGlobalState(1, "Échec lors de la requête.");
							busy = false;
						},
					});
				}
			}
		});
		formEmail.addInput('email-email', { regexp: 'email', maxLength: 320 });
	});

	</script>
{% endblock %}

{% block body %}
	<h1>Paramètres</h1>
	<div id="nav-left-left">
		{{ include("SalonramaMainBundle:Account:settings_nav.html.twig") }}
	</div>
	<div id="nav-left-right">
		<form method="post" action="" id="email-post">
		<fieldset>
			<legend>Modifier mon email</legend>

			<fieldset class="form-fieldset">
				<label for="email-email">Email</label>
				<div class="form-controls">
					<input type="text" name="email-email" id="email-email" value="{{ app.user.email }}">
				</div>
			</fieldset>

			<div class="form-actions">
				<div id="email-global-state" class="form-global-state cadre-small"></div>
				<button type="submit" id="email-submit" class="button-small button-small-green" disabled="disabled">Modifier mon email</button>
			</div>
		</fieldset>
		</form>

		<form method="post" action="" id="newsletter-post">
		<fieldset>
			<legend>Newsletter</legend>

			<fieldset class="form-fieldset">
				<label for="newsletter-send">M'abonner à la newsletter</label>
				<div class="form-controls">
					{% if app.user.account.sendNewsletter %}
					<input type="checkbox" name="newsletter-send" id="newsletter-send" checked="checked"/>
					{% else %}
					<input type="checkbox" name="newsletter-send" id="newsletter-send"/>
					{% endif %}
				</div>
			</fieldset>

			<div class="form-actions">
				<div id="newsletter-global-state" class="form-global-state cadre-small"></div>
				<button type="submit" id="newsletter-submit" class="button-small button-small-green" disabled="disabled">Sauvegarder les modifications</button>
			</div>
		</fieldset> 
		</form>
	</div>
	<div class="clear"></div>
{% endblock %}