{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Paramètres - Mot de passe</title>

    <link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/form.css') }}"/>

	<script src="{{ asset('bundles/salonramamain/js/form.js') }}"></script>

	<script>

	var busy = false;

	$(document).ready(function()
	{
		$('#password-current').focus();

		var passwordGeneral = new Form('password-post', 'password-submit', 'password-global-state', function(result, values, form){
			if(result == 0)
			{
				if(busy == false)
				{
					busy = true;
					this.setGlobalState(2, 'Modifications en cours...');

					$.ajax({
						type: "POST",
						url: "",
						data: values,
						dataType: "json",
						success: function(response){
							passwordGeneral.setGlobalState(response.state, response.text);

							if(response.state == 0)
							{
								passwordGeneral.empty();
							}

							busy = false;
						},
						error: function(rs, e) {
							passwordGeneral.setGlobalState(1, "Échec lors de la requête.");
							busy = false;
						},
					});
				}
			}
			else if(result == 1){ this.setGlobalState(1, 'Champ Invalide.'); }
			else{ this.setGlobalState(1, 'Champs Invalides.'); }
		});
		passwordGeneral.addInput('password-current', { minLength: 4, maxLength: 25 });
		passwordGeneral.addInput('password-new', { minLength: 4, maxLength: 25 });
		passwordGeneral.addInput('password-confirmation', { minLength: 4, maxLength: 25 });
	});

	</script>
{% endblock %}

{% block body %}
	<h1>Paramètres</h1>
	<div id="nav-left-left">
		{{ include("SalonramaMainBundle:Account:settings_nav.html.twig") }}
	</div>
	<div id="nav-left-right">
		<form method="post" action="" id="password-post">
		<fieldset>
			<legend>Modifier mon mot de passe</legend>

			<fieldset class="form-fieldset">
				<label for="password-current">Mot de passe actuel</label>
				<div class="form-controls">
					<input type="password" name="password-current" id="password-current" autocomplete="off">
				</div>
			</fieldset>

			<fieldset class="form-fieldset">
				<label for="password-new">Nouveau mot de passe</label>
				<div class="form-controls">
					<input type="password" name="password-new" id="password-new">
				</div>
			</fieldset>

			<fieldset class="form-fieldset">
				<label for="password-confirmation">Vérifiez votre mot de passe</label>
				<div class="form-controls">
					<input type="password" name="password-confirmation" id="password-confirmation">
				</div>
			</fieldset>

			<div class="form-actions">
				<div id="password-global-state" class="form-global-state cadre-small"></div>
				<button type="submit" id="password-submit" class="button-small button-small-green">Modifier mon mot de passe</button>
			</div>
		</fieldset> 
		</form>
	</div>
	<div class="clear"></div>
{% endblock %}