{% set settings_nav = [
	['Paramètre du compte', 'salonrama_main_account_settings_general'],
	["Email", 'salonrama_main_account_settings_email'],
	['Mot de passe', 'salonrama_main_account_settings_password'],
	['Supprimer mon compte', 'salonrama_main_account_settings_delete']
]%}
<ul>
	{% for item in settings_nav %}
    <li>
    	<a href="{{ path(item[1]) }}" {% if item[1] == app.request.attributes.get('_route') %} class="select"{% endif %}>{{ item[0] }}</a>
   	</li>
	{% endfor %}
</ul>