/* Design CSS du site Salonrama  CSS Valide W3C
-----------------------*/

.ModuleFormChampList{
margin:0 5px 10px;
}
.ModuleFormChampList .FormLabel{
width:170px;
}
.ModuleFormChampList textarea{
width:65%;
margin-right:30%;
}
.ModuleForm .FormValid button{
cursor:pointer;
margin-left:170px;
margin-top:20px;
}
.ModuleForm p.etoile{
margin-top:10px;
display:none;
}