{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>A propos</title>
{% endblock %}

{% block body %}
	<h1>A propos</h1>

	Salonrama part d'un constat simple: à ce jour, la plupart des salons de coiffure n'ont pas leur site internet. Pourtant, la présence sur le web est un enjeu majeur aujourd'hui pour un salon de coiffure notamment pour se faire connaitre et développer sa clientèle de proximité.<br/><br/>
	Notre objectif est que Salonrama doit être facile à utiliser, logique et pour tout le monde, même les débutants en informatique.<br/><br/>
	Salonrama a été uniquement développé pour les salons de coiffures, c'est ce qui fait sa force puisque nous connaissons au mieux leurs attentes et leurs besoins.
	<br/><br/><br/>
	Le site Salonrama.fr a été développé par notre équipe.<br/>
	Les designs proposés aux salons de coiffures ont été créé par <a href="http://twitter.com/Guinarob">Robin Guinard</a> et d'autres graphistes.<br/>
	Nous remercions Loïc Mongellaz pour ses corrections.
{% endblock %}