{% set addNoscript = true %}

{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
    <title>Contact</title>

    <link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/form.css') }}"/>

	<script src="{{ asset('bundles/salonramamain/js/form.js') }}"></script>

	<script>

	var busy = false;

	$(document).ready(function()
	{
		var formContact = new Form('contact-post', 'contact-submit', 'contact-global-state', function(result, values, form){
			if(result == 0)
			{
				if(busy == false)
				{
					busy = true;
					this.setGlobalState(2, 'Envoi en cours...');

					$.ajax({
						type: "POST",
						url: "",
						data: values,
						dataType: "json",
						success: function(response){
							formContact.setGlobalState(response.state, response.text);

							if(response.state == 0)
							{
								formContact.empty();
							}

							busy = false;
						},
						error: function(rs, e) {
							formContact.setGlobalState(1, "Échec lors de l'envoi de l'email.");
							busy = false;
						},
					});
				}
			}
			else if(result == 1){ this.setGlobalState(1, 'Champ Invalide.'); }
			else{ this.setGlobalState(1, 'Champs Invalides.'); }
		});
		formContact.addInput('contact-email', { regexp: 'email', maxLength: 320 });
		formContact.addInput('contact-nom', { isNeeded: false });
		formContact.addInput('contact-objet');
		formContact.addInput('contact-sujet');
		formContact.addInput('contact-message');
	});

	</script>
{% endblock %}

{% block body %}
	<h1>Nous contacter</h1>

	<div class="cadre-small cadre-small-orange">
		<i class="icon-info-sign"></i>Remplissez ce formulaire ou envoyez nous un email à <a href="mailto:contact@salonrama.fr">contact@salonrama.fr</a>.
	</div>

	<form method="post" action="" id="contact-post">
	<fieldset>
		<legend>Formulaire de contact</legend>

		<fieldset class="form-fieldset">
			<label for="contact-email">Adresse email<span class="form-required">*</span></label>
			<div class="form-controls">
				<input type="text" name="contact-email" id="contact-email">
			</div>
		</fieldset>

		<fieldset class="form-fieldset">
			<label for="contact-nom">Nom</label>
			<div class="form-controls">
				<input type="text" name="contact-nom" id="contact-nom">
			</div>
		</fieldset>

		<fieldset class="form-fieldset">
			<label for="contact-objet">Objet<span class="form-required">*</span></label>
			<div class="form-controls">
				<select id="contact-objet" name="contact-objet">
					<option value="empty">Sélectionner un objet :</option>
					<option value="creation">Création du site</option>
					<option value="administration">Administration du site</option>
					<option value="adresse">Adresse internet</option>
					<option value="autres">Autres</option>
				</select>
			</div>
		</fieldset>

		<fieldset class="form-fieldset">
			<label for="contact-sujet">Sujet<span class="form-required">*</span></label>
			<div class="form-controls">
				<input type="text" name="contact-sujet" id="contact-sujet">
			</div>
		</fieldset>

		<fieldset class="form-fieldset">
			<label for="contact-message">Message<span class="form-required">*</span></label>
			<div class="form-controls">
				<textarea id="contact-message" name="contact-message"></textarea>
			</div>
		</fieldset>

		<div class="form-actions">
			<div id="contact-global-state" class="form-global-state cadre-small"></div>
			<button type="submit" id="contact-submit" class="button-small button-small-green"><i class="icon-envelope"></i>Envoyer mon message</button>
		</div>
		<p class="form-required">* champ à remplir obligatoirement</p>
	</fieldset> 
	</form>
{% endblock %}