{% set addNoscript = true %}

{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
    <title>Contact</title>

    <link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/form.css') }}"/>

    <script src="{{ asset('bundles/salonramamain/js/ot.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/js/json.js') }}"></script>
	<script src="{{ asset('bundles/salonramamain/js/form.js') }}"></script>

<script>

var Busy = false;

$(document).ready(function()
{
	Form = new Form();
	Form.addInput('contact-email', { regexp: 'email', maxLength: 320 });
	Form.addInput('contact-nom', { isNeeded: false });
	Form.addInput('contact-objet', {});
	Form.addInput('contact-sujet', {});
	Form.addInput('contact-message', {});
	Form.init('contact-post', 'contact-submit', 'contact-global-state', function(result, values){
		if(result == 0)
		{
			if(Busy == false)
			{
				Busy = true;
				this.setGlobalState(2, 'Envoi en cours...');

				$.ajax({
					type: "POST",
					url: "",
					data: values,
					dataType: "json",
					success: function(response){
						Form.setGlobalState(response.state, response.text);

						if(response.state == 0)
						{
							Form.empty();
						}

						Busy = false;
					},
					error: function(rs, e) {
						Form.setGlobalState(1, "Échec lors de l'envoi de l'email");
						Busy = false;
					},
				});
			}
		}
		else if(result == 1){ this.setGlobalState(1, 'Champ Invalide.'); }
		else{ this.setGlobalState(1, 'Champs Invalides.'); }
	});
});

</script>

{% endblock %}

{% block body %}
    <h1>Nous contacter</h1>

	<div class="cadre-small cadre-small-orange">
		<i class="icon-info-sign"></i>Réponse en moins de 24h.
	</div>

	<form method="post" action="" id="contact-post">
	<fieldset>
		<legend>Formulaire de contact</legend>

		<fieldset class="form-fieldset">
			<label for="contact-email">Adresse email<span class="form-required">*</span></label>
			<div class="form-controls">
				<input type="text" name="contact-email" id="contact-email">
			</div>
		</fieldset>

		<fieldset class="form-fieldset">
			<label for="contact-nom">Nom</label>
			<div class="form-controls">
				<input type="text" name="contact-nom" id="contact-nom">
			</div>
		</fieldset>

		<fieldset class="form-fieldset">
			<label for="contact-objet">Objet<span class="form-required">*</span></label>
			<div class="form-controls">
				<select id="contact-objet" name="contact-objet">
					<option value="empty">Sélectionner un objet :</option>
					<option value="creation">Création du site</option>
					<option value="administration">Administration du site</option>
					<option value="adresse">Adresse internet</option>
					<option value="autres">Autres</option>
				</select>
			</div>
		</fieldset>

		<fieldset class="form-fieldset">
			<label for="contact-sujet">Sujet<span class="form-required">*</span></label>
			<div class="form-controls">
				<input type="text" name="contact-sujet" id="contact-sujet">
			</div>
		</fieldset>

		<fieldset class="form-fieldset">
			<label for="contact-message">Message<span class="form-required">*</span></label>
			<div class="form-controls">
				<textarea id="contact-message" name="contact-message"></textarea>
			</div>
		</fieldset>

		<div class="form-actions">
			<div id="contact-global-state" class="form-global-state cadre-small"></div>
			<button type="submit" id="contact-submit" class="button-small-green"><i class="icon-ok"></i>Envoyer mon message</button>
		</div>
		<p class="form-required">* champ à remplir obligatoirement</p>
	</fieldset> 
<?php } ?>
	</form>
{% endblock %}