{% set add_noscript = true %}

{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
    <title>Contact</title>

	{% stylesheets 'bundles/salonramamain/css/form.css' %}
		<link rel="stylesheet" href="{{ asset_url }}"/>
	{% endstylesheets %}
{% endblock %}

{% block javascript %}
	{% javascripts 'bundles/salonramamain/js/form.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<script>

	var busy = false;

	$(document).ready(function()
	{
		var contactForm = new Form($('#contact-post'), function(result, values, self){
			if(result == 0)
			{
				if(busy == false)
				{
					busy = true;
					self.setGlobalState(2, 'Envoi en cours...');

					$.ajax({
						type: "POST",
						url: "",
						data: values,
						dataType: "json",
						success: function(response){
							self.setGlobalState(response.state, response.text);

							if(response.state == 0)
							{
								self.empty();
							}

							busy = false;
						},
						error: function(rs, e) {
							self.setGlobalState(1, "Échec lors de la requête.");
							busy = false;
						},
					});
				}
			}
			else if(result == 1){ self.setGlobalState(1, 'Champ Invalide.'); }
			else{ self.setGlobalState(1, 'Champs Invalides.'); }
		});
		contactForm.addInput('contact-email', { regexp: 'email' });
		contactForm.addInput('contact-name', { isNeeded: false });
		contactForm.addInput('contact-objet');
		contactForm.addInput('contact-sujet');
		contactForm.addInput('contact-message');
	});

	</script>
{% endblock %}

{% block body %}
	<h1>Nous contacter</h1>

	<div class="frame-small frame-small-orange">
		<i class="icon-info-sign"></i>Remplissez ce formulaire ou envoyez nous un email à <a href="mailto:contact@salonrama.fr">contact@salonrama.fr</a>.
	</div>

	<form method="post" action="" id="contact-post">
	<fieldset>
		<legend>Formulaire de contact</legend>

		<fieldset class="form-fieldset">
			<label for="contact-email">Adresse email<span class="form-required">*</span></label>
			<div class="form-controls">
				{% if is_granted('ROLE_USER') %}
					<input type="text" name="contact-email" id="contact-email" disabled="disabled" value="{{ app.user.email }}">
				{% else %}
					<input type="text" name="contact-email" id="contact-email">
				{% endif %}
			</div>
		</fieldset>

		<fieldset class="form-fieldset">
			<label for="contact-name">Nom</label>
			<div class="form-controls">
				{% if is_granted('ROLE_USER') %}
					<input type="text" name="contact-name" id="contact-name" disabled="disabled" value="{{ app.user.account.name }}">
				{% else %}
					<input type="text" name="contact-name" id="contact-name">
				{% endif %}
			</div>
		</fieldset>

		<fieldset class="form-fieldset">
			<label for="contact-objet">Objet<span class="form-required">*</span></label>
			<div class="form-controls">
				<select id="contact-objet" name="contact-objet">
					<option value="empty">Sélectionner un objet :</option>
					<option value="creation">Création du site</option>
					<option value="administration">Administration du site</option>
					<option value="adresse">Adresse internet</option>
					<option value="autres">Autres</option>
				</select>
			</div>
		</fieldset>

		<fieldset class="form-fieldset">
			<label for="contact-sujet">Sujet<span class="form-required">*</span></label>
			<div class="form-controls">
				<input type="text" name="contact-sujet" id="contact-sujet">
			</div>
		</fieldset>

		<fieldset class="form-fieldset">
			<label for="contact-message">Message<span class="form-required">*</span></label>
			<div class="form-controls">
				<textarea id="contact-message" name="contact-message"></textarea>
			</div>
		</fieldset>

		<div class="form-actions">
			<div class="form-global-state frame-small"></div>
			<button type="submit" class="button-small button-small-green"><i class="icon-envelope"></i>Envoyer mon message</button>
		</div>
		<p class="form-required">* champ à remplir obligatoirement</p>
	</fieldset> 
	</form>
{% endblock %}