{% set addNoscript = true %}

{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Mot de passe oublié ?</title>

	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/form.css') }}"/>

	<script src="{{ asset('bundles/salonramamain/js/form.js') }}"></script>

	<script>

	var busy = false;

	$(document).ready(function()
	{
		$('#forgot-email').focus();

		var formForgot = new Form('forgot-post', 'forgot-submit', 'forgot-global-state', function(result, values, form){
			if(result == 0)
			{
				if(busy == false)
				{
					busy = true;
					this.setGlobalState(2, 'Envoi en cours...');

					$.ajax({
						type: "POST",
						url: "",
						data: values,
						dataType: "json",
						success: function(response){
							formForgot.setInputState($('#forgot-email'), response);

							if(response.state == 0)
							{
								formForgot.empty();
								formForgot.setGlobalState(response.state, response.text);
							}
							else
							{
								formForgot.setGlobalState(null);
							}

							busy = false;
						},
						error: function(rs, e) {
							formForgot.setGlobalState(1, "Échec lors de l'envoi de l'email.");
							busy = false;
						},
					});
				}
			}
		});
		formForgot.addInput('forgot-email', { regexp: 'email', maxLength: 320 });
	});

	</script>
{% endblock %}

{% block body %}
	<form method="post" action="{{ path('salonrama_main_forgot_password') }}" id="forgot-post">
	<fieldset>
		<legend>Mot de passe oublié ?</legend>

		<fieldset class="form-fieldset">
			<label for="forgot-email">Adresse email</label>
			<div class="form-controls">
				<input type="text" name="forgot-email" id="forgot-email">
			</div>
		</fieldset>

		<div class="form-actions">
			<div id="forgot-global-state" class="form-global-state cadre-small"></div>
			<button type="submit" id="forgot-submit" class="button-small button-small-green"><i class="icon-ok"></i>Envoyer un lien de réinitialisation</button>
		</div>
	</fieldset>
	</form>

{% endblock %}