<h1>{{ article.name }}</h1>

{{ article.text }}

<hr/>
<div class="center">
	<br/><a href="{{ path('salonrama_main_contact') }}" class="button-small button-small-blue" type="button"><i class="icon-comments"></i>Envoyez nous un message</a>
</div>