{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Aide</title>

{% endblock %}

{% block body %}
	<h1>Aide</h1>


	<input type="text" placeholder="Comment pouvons-nous vous aider ?">
{% endblock %}