{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Aide</title>

	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/help.css') }}"/>
{% endblock %}

{% block body %}
	<h1>Aide</h1>

	<div class="help-search">
		<input type="text" placeholder="Comment pouvons-nous vous aider ?">
		<button title="Rechercher" class="button-big button-big-blue" type="submit"><i class="icon-search"></i></button>
		<div class="clear"></div>
	</div>

	<div id="nav-left-left" class="nav-tab">
		<ul>
			{% for item in nav_tab %}
			<li><a href="lol">{{ item.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div id="nav-left-right">
	</div>
	<div class="clear"></div>

{% endblock %}