{% set add_noscript = true %}

{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Aide</title>

	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/help.css') }}"/>
{% endblock %}

{% block javascript %}
	<script src="{{ asset('bundles/salonramamain/js/smartLoad.js') }}"></script>

	<script>

	$(document).ready(function()
	{
		initLink();
		var smartLoad = new SmartLoad($('#smartLoad'), initLink);
	});

	function initLink()
	{
		$('#nav-tab-left').find('a').click(function(event)
		{
			var self = this;

			if($(this).find('.icon-reply').length > 0)
			{
				event.preventDefault();
				setTimeout(function(){ $(self).parent().parent().hide(); }, 300);
				$('#nav-tab-offset').css('left', '+='+$('#nav-tab-left').width()+'px');
			}
			else
			{
				var child = $(this).next('ul');

				if(child.length > 0)
				{
					event.preventDefault();
					child.show();
					$('#nav-tab-offset').css('left', '-='+$('#nav-tab-left').width()+'px');
				}
				else
				{
					if($(this).find('.icon-spinner').length == 0)
					{
						$(this).append('<i class="icon-spinner icon-spin"></i>');
					}
					smartLoad.click(this, event);
				}
			}
		});
	}

	</script>
{% endblock %}

{% block body %}
	<h1>Aide</h1>

	<div id="help-search">
		<input type="text" placeholder="Comment pouvons-nous vous aider ?">
		<button title="Rechercher" class="button-big button-big-blue" type="submit"><i class="icon-search"></i></button>
		<div class="clear"></div>
	</div>

	<div id="smartLoad">
	{{ include("SalonramaMainBundle:Main:help_body.html.twig") }}
	</div>
{% endblock %}