{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Aide</title>

	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/help.css') }}"/>
{% endblock %}

{% block body %}
	<h1>Aide</h1>

	<div class="help-search">
		<input type="text" placeholder="Comment pouvons-nous vous aider ?">
		<button title="Rechercher" class="button-big button-big-blue" type="submit"><i class="icon-search"></i></button>
		<div class="clear"></div>
	</div>

	{% macro ul(node) %}
	    <ul>
	    	
	    </ul>
	{% endmacro %}

	<div id="nav-left-left" class="nav-tab">
		<ul>
			{% for node in nav_tab %}
			<li>
				{% if 'id' in node|keys %}
				<a href="{{ path("salonrama_main_help_articles", { 'id': node.id }) }}">{{ node.name }}</a>
				{% else %}
				<a href="">{{ node.name }}</a>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div id="nav-left-right">
	</div>
	<div class="clear"></div>

{% endblock %}