{% extends "SalonramaMainBundle:Main:help.html.twig" %}

{% block title %}Aide - Recherche{% endblock %}

{% block help_body %}
	{% if search_result %}
	<h1>Résultats de recherche pour « {{ query }} »</h1>

	<ul id="help-result">
	{% autoescape false %}
	{% for key, value in search_result %}
		<li>
			<a href="{{ path("salonrama_main_help_articles", { 'id': value.id }) }}" class="smartload">{{ value.name }}</a>
			<div>{{ value.template }}</div>
		</li>
	{% endfor %}
	{% endautoescape %}
	</ul>
	{% else %}
	<div class="frame-small frame-small-orange">
		<i class="icon-info-sign"></i>Aucun résultat</a>.
	</div>
	{% endif %}

	<script>

	document.title = "Aide - Recherche";

	</script>
{% endblock %}