{% extends "SalonramaMainBundle:Main:help.html.twig" %}

{% block title %}Aide{% endblock %}

{% block help_body %}
	<h1>Principales questions</h1>

	<ul id="help-result">
	{% for key, value in help_famous %}
		<li>
			<a href="{{ path("salonrama_main_help_article", { 'id': value.id }) }}" class="smartload">{{ value.name }}</a>
		</li>
	{% endfor %}
</ul>

	<script>

	document.title = "Aide";

	</script>
{% endblock %}