<noscript>
	<div class="frame-big-background"></div>

	<div class="frame-big-outer" style="top:20%;">
		<div class="frame-big" style="width:50%;">
			<div class="frame-big-head">Javascript est désactivé</div>
			<div class="frame-big-body" style="padding:15px;">
				<i class="icon-warning-sign icon-5x" style="float:left; margin-right:20px;"></i>
				<p>
					<strong>Vous devez activer Javascript pour utiliser Salonrama.</strong><br>
					<br>
					Notre site utilise la technologie Javascript pour vous faciliter au maximum la création et l’administration de votre site internet.
				</p>
			</div>
			<div class="frame-big-foot">
				<form method="post" action="http://www.enable-javascript.com/fr/" style="display:inline;">
					<button type="submit" class="button-small button-small-green"><i class="icon-gears"></i>Montrer moi comment l'activer</button>
				</form>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</noscript>