{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Conditions d’utilisation</title>
{% endblock %}

{% block body %}
	<h1>Conditions d’utilisation</h1>

	<h2>Les services rendus par Salonrama sont totalement gratuits, sans frais cachés</h2>

	Tout accès et/ou toute utilisation des produits et services de Salonrama emportent acceptation des conditions de vente et
	d'utilisation ci-dessous définies, sans restriction, et ce, y compris pendant les éventuelles périodes de
	consultation gratuite.<br>
	<br>

	<h3>1. Propriétés des produits commercialisés</h3>
	<p>Chaque commande comprend la fourniture d'un espace d'hébergement web avec son adresse en ligne, et un abonnement à un service de mise en ligne de site web
	personnalisé.<br>
	Les contenus des sites publiés sont susceptibles de modifications par nos clients, en fonction de l'évolution de leur actualité.</p>
	<br>

	<h3>2. Assistance technique par email</h3>
	<p>Adresse email : contact@salonrama.fr<br>
	Les questions posées doivent être en rapport avec le site hébergé du client dont l'abonnement est en cours de validité.
	Ce service est personnel, il est réservé à un usage exclusif et non collectif de l'abonné (même nom, même n°d'abonné). 
	Il n'est transmissible en aucune manière. Pour l'ensemble de ces prestations, Salonrama sont soumis à une obligation de
	moyens. La responsabilité de Salonrama ne pourra dès lors être recherchée et engagée en cas de non-réponse ou de
	réponse partielle à certaines questions. Le terme question doit être entendu au sens strict, il ne peut en
	aucun cas s'agir d'un audit de situation, d'une expertise, d'une consultation, d'un diagnostic ou encore de l'établissement
	de statistiques ou de données chiffrées. Les éléments de réponses aux questions ne sont donnés qu'à titre informatif selon les
	éléments fournis par l'abonné. L'abonné est seul responsable des questions qu'il pose et de l'utilisation qu'il peut faire des réponses
	obtenues, notamment lorsque la question est incomplète ou que la réponse donnée est mal interprétée.</p>
	<br>

	<h3>3. Les services Internet </h3>
	<p>Salonrama met à la disposition de sa clientèle un espace libre sur internet pour mettre en ligne des textes et des photos.<br>
	Ces contenus ne doivent pas :
	<ul class="PuceList">
		<li>Etre illégaux au regard de la loi française.</li>
		<li>Etre faux, imprécis, mensongers ou frauduleux</li>
		<li>Porter atteinte aux droits d'auteurs, aux droits des brevets ou des marques, aux secrets de fabrication, aux autres droits de
		propriété intellectuelle, au droit de divulgation ou à la vie privée des tiers.</li>
		<li>Etre diffamatoires, médisants, calomnieux, discriminatoires ou inciter à la violence ou à la haine raciale, religieuse ou ethnique.</li>
		<li>Comporter de contenus obscènes, pornographiques ou pédophiles.</li>
		<li>Proposer à l'internaute de gagner de l'argent avec des méthodes soi-disant miracles (systèmes pyramidaux, affiliation, kits e-book, etc.)</li>
		<li>Proposer de la publicité</li>
	</ul>
	L'utilisation des services Internet de l'espace abonné du site Internet de Salonrama est réservée aux utilisateurs disposant d'un Identifiant Internet
	lié à un abonnement en cours de validité ou à une offre d'essai. A son abonnement, Salonrama communique à l'abonné un Numéro Client personnel lui
	permettant de créer un Identifiant Internet composé de l'adresse email de l'utilisateur final des services Internet et d'un
	mot de passe. L'Identifiant Internet est strictement personnel et confidentiel et ne peut être transmis à une tierce personne autre que l'utilisateur
	final des services Internet. Le partage d'un même identifiant Internet entre plusieurs utilisateurs n'est pas autorisé. L'utilisation des services Internet de
	Salonrama confère à l'abonné un droit d'usage privé, sur les informations consultées par l'utilisateur. L'Utilisateur pourra copier le contenu des pages, aux fins de
	représentation sur son écran monoposte ou aux fins de tirage papier, à condition que lesdites copies soient strictement limitées à son usage
	personnel. Toute mise en réseau, toute rediffusion sous quelque forme que ce soit, même partielle, sont strictement
	interdites. Ce droit est personnel, il est réservé à un usage exclusif et non
	collectif de l'abonné. Il n'est transmissible en aucune manière.</p>
	<br>

	<h3>4. Obligations de l'utilisateur</h3>
	<p>L'utilisateur s'engage lors de son inscription à donner des informations véridiques, correctes et complètes. En cas de changement de ces informations, l'utilisateur 
	est tenu de les modifier sur le site de Salonrama. L'Utilisateur s'engage à ce que le contenu de son site soit en conformité avec les lois et
	règlements en vigueur. Il est rappelé que seul l'Utilisateur est responsable du contenu qu'il diffuse sur Internet et sur son site, en aucun cas Salonrama ne sera
	considéré comme responsable du contenu d'un Utilisateur.<br>
	L'Utilisateur s'engage à ce que le contenu de son site ne porte pas atteinte aux droits des tiers. L'Utilisateur autorise Salonrama à faire
	la promotion de son site, de quelque manière que ce soit et par tout moyen de communication (en particulier la réutilisation de tout ou partie du site, du visuel de
	celui-ci, ajout de liens à partir et vers le site). Salonrama ne peut être considéré comme responsable des dommages liés à cette promotion.
	L'Utilisateur garantit que toutes les informations, données, fichiers, ou bases de données qui lui appartiennent et qui
	sont publiées par Salonrama sont libres de droit. L'Utilisateur s'engage à ne pas utiliser les outils mis à disposition par Salonrama dans un but autre que la
	publication de pages professionnelles (en particulier à des fins de stockage de données).<br>
	L'Utilisateur s'engage à ne pas inclure sur son site des adresses ou des liens hypertextes renvoyant vers des sites extérieurs qui
	soient contraires aux lois et règlements en vigueur, et qui portent atteinte aux droits des tiers ou qui soient contraires aux présentes Conditions d'Utilisation.</p>
	<br>

	<h3>5. Tarifs - Conditions de règlement - Pénalités</h3>
	<p>Salonrama se réserve le droit de modifier ses tarifs à tout moment en cours d'année.<br>
	Le paiement doit être effectué par le client à réception de la facture et sans escompte. Le règlement est accepté par chèque, virement bancaire, prélèvement mensuel ou
	trimestriel. Le délai de paiement ne pourra pas dépasser 45 jours fin de mois ou 60 jours à compter de la date d'émission de la facture. Le
	taux minimal des pénalités de retard sera de trois fois le taux d'intérêt légal en application de la loi du 5 août 2008.</p>
	<br>

	<h3>6. Renouvellement d'abonnement - Résiliation - Suspension</h3>
	<p>Les abonnements sont annuels et se renouvellent d'année en année par tacite reconduction, sauf dispositions particulières. A échéance, le
	règlement de l'abonnement deviendra exigible, sauf dénonciation par l'une ou l'autre des parties par lettre recommandée 2 mois avant la date de fin de l'abonnement.
	Dans le cas où la facture ne serait pas intégralement réglée par l'abonné dans un délai de 4 mois à
	compter de la date de fin d'abonnement, Salonrama se réserve la faculté de résilier ou de suspendre l'abonnement jusqu'au paiement de la facture majorée des
	intérêts de retard applicables selon la Loi de Modernisation de l'Economie du 05/08/2008, et ce, sans préjudice de tous dommages et intérêts
	auxquels Salonrama pourrait prétendre. Nos prix de réabonnement sont donnés à titre indicatif sur nos documents commerciaux. Les prix définitifs
	seront déterminés en tenant compte des produits et services proposés dans le cadre de l'abonnement annuel. Salonrama se réserve le droit d'interrompre et de
	résilier un abonnement et son accès Internet sans préavis ni indemnité, en cas d'inexécution de l'une des obligations de
	l'abonné ci-après citée :
	<ul class="PuceList">
		<li>Usage du site Internet de Salonrama pouvant porter préjudice à un tiers qui serait contraire à l'ordre public ou aux bonnes mœurs.</li>
		<li>Acte de piratage ou tentative d'utilisation illicite des informations circulant sur le réseau.</li>
		<li>Utilisation abusive du service d'assistance technique.</li>
		<li>Utilisation des Services Internet par un nombre d'utilisateurs supérieur au nombre d'utilisateurs autorisés par l'offre d'abonnement souscrite par l'abonné. </li>
	</ul>
	Les publications de Salonrama ainsi que l'accès Internet peuvent être suspendus en cas de grève totale ou partielle, intérieure ou extérieure à l'entreprise, restrictions
	gouvernementales ou légales, modifications légales ou complémentaires des formes de commercialisation, défaillance du ou des serveurs
	d'hébergement, blocage des télécommunications, problèmes techniques d'un opérateur de télécommunications, panne d'ordinateur, cessation
	totale ou partielle d'activité d'un tiers ayant des conséquences sur l'activité et le bon fonctionnement de Salonrama.</p>
	<br>

	<h3>7. Garantie Salonrama</h3>
	<p>Le client dispose également d'un délai de rétractation de 7 jours à compter de la réception de la commande. Il sera alors intégralement remboursé de la
	totalité du prix payé.</p>
	<br>

	<h3>8. Réserve de propriété</h3>
	<p>Toute utilisation des noms, marques et logos présents sur nos documents, ouvrages ou sites Internet est interdite sans l'autorisation expresse de Salonrama.<br>
	Les concessions d'utilisation accordées par Salonrama sur l'accès au contenu des sites Internet ne signifient en aucun cas le transfert de propriété de l'éditeur à
	son client.</p>
	<br>

	<h3>9. Responsabilités</h3>
	<p>Pour l'ensemble de ses prestations, Salonrama est soumis à une obligation de moyens. Il est expressément convenu que si la 
	responsabilité de Salonrama était retenue dans le cadre de l'exécution des présentes, l'abonné ne pourrait prétendre à d'autres indemnités et
	dommages-intérêts que le remboursement prorata temporis de son abonnement non servi. En aucun cas, Salonrama ne saurait être tenu responsable d'un quelconque
	préjudice matériel ou immatériel, direct ou indirect tel que le préjudice commercial ou financier ou encore le préjudice d'exploitation. Salonrama
	ne garantit pas contre et ne peut être considéré comme responsable de la perte ou de l'altération des fichiers ou données que
	l'Utilisateur transfère sur son site. De même, il appartient à l'abonné de prendre toutes les mesures appropriées de façon à
	protéger ses propres données et/ou logiciels de la contamination par des virus, des intrusions ou tentatives d'intrusion dans son système informatique ou des
	contournements éventuels par des tiers à l'aide, ou non, de l'accès Internet ou des services Salonrama. L'Utilisateur accepte de transférer ces données
	et fichiers sous sa seule responsabilité et en connaissance de cause. Il incombe à l'Utilisateur d'effectuer toute
	mesure de sauvegarde qu'il lui semblera nécessaire contre la perte de ses données. Salonrama ne pourra en aucun cas être tenues responsable de la fiabilité de
	transmission des données, des temps d'accès et de réponse pour consulter, interroger ou transférer des informations, des éventuelles restrictions
	d'accès sur des réseaux spécifiques connectés à Internet et, plus généralement, des performances techniques d'Internet. Salonrama se dégage de toute
	responsabilité quant à la compatibilité, à la fiabilité et au fonctionnement des logiciels. La responsabilité de Salonrama
	ne saurait être engagée dans les cas de force majeure et dans les cas de suspension ou d'interruption de l'accès aux réseaux Internet ou aux services
	Internet, notamment en cas de défaillance du matériel de réception ou de la ligne de l'abonné, de pertes de données ou de toutes
	transactions faites via l'accès Internet ou via les services de Salonrama pour l'acquisition de biens ou de services. Les 
	photographies et les textes reproduits et illustrant les produits ou les biens présentés ne sont pas contractuels. En
	conséquence, la responsabilité de Salonrama ne saurait être engagée en cas d'erreur dans l'une de
	ces photographies ou l'un de ces textes. Des liens hypertextes peuvent renvoyer vers d'autres sites que le site de Salonrama, lesquelles se
	dégagent de toute responsabilité dans le cas où le contenu de ces sites contreviendrait aux dispositions
	légales et réglementaires en vigueur. Salonrama ne pourrait être tenu pour responsable en cas d'interruption
	de service et se réserve la possibilité de suspendre son service pour des raisons de maintenance ou de mise
	à jour. Salonrama ne garantit pas une fréquentation minimum du site de l'Utilisateur. Salonrama ne
	garantit pas non plus la réalisation d'un quelconque chiffre d'affaire ou bénéfice par l'Utilisateur.<br>
	En cas de litige sur un site d'un membre, Salonrama n'est pas tenu pour responsable, seul le propriétaire du compte qui est identifié avec un login et qui a accepté les
	présentes conditions générales d'utilisation est responsable du contenu de son site. Par le terme "contenu", on désigne l'ensemble des textes, images et
	médias présents sur ses pages hormis les éléments de la charte graphique mis au point par Salonrama.</p>
	<br>

	<h3>10. Clause attributive de juridiction et réclamations</h3>
	<p>Les présentes sont régies par la loi française. Toute contestation sur l'interprétation ou l'exécution de l'une quelconque des dispositions des présentes, sera de la
	compétence exclusive des tribunaux d'ANNECY (74000, Haute Savoie), nonobstant la pluralité éventuelle de défendeurs ou l'appel en garantie.<br>
	Toute réclamation doit être formulée par écrit et transmise à : <br>
	Salonrama - Service Abonnement, 368 route de Talloires, 74290 Menthon Saint Bernard, France. Adresse email : contact@salonrama.fr</p>
	<br>

	<h3>11. Dispositions diverses</h3>
	<p>Les conditions générales de vente et d'utilisation des supports papier et Internet qui prévalent sont celles qui
	apparaissent en ligne sur le site <a href="http://www.salonrama.fr">www.salonrama.fr</a>.<br>
	Salonrama peut à tout moment et de plein droit modifier leur service
	d'accès Internet, leurs forfaits d'abonnement et leurs services sans aucune formalité. Il en est de même pour les présentes conditions
	générales de vente et d'utilisation. Dans cette dernière hypothèse, Salonrama doit cependant obligatoirement porter ces modifications dans celles figurant en ligne
	sur le site <a href="http://www.salonrama.fr">www.salonrama.fr</a>.<br>
	Les cas de force majeure sont ceux retenus par les textes et la
	jurisprudence. Ils suspendent les obligations nées des présentes.<br>
	Conformément aux lois n°78-17 du 6 janvier 1978 dite "Informatique et libertés" et n°2004-575 du 21 juin 2004 pour la confiance dans l'économie
	numérique, l'abonné peut exercer un droit d'accès et de rectification de ses données auprès de Salonrama en adressant un email à
	Salonrama a l'adresse email suivante : contact@salonrama.fr. Il peut également s'opposer à ce que lesdites
	informations soient communiquées à des tiers en adressant un courrier à la même adresse.<br>
	<br>
	En cas de non respect des présentes conditions générales d'utilisation, Salonrama se réserve le droit de supprimer le compte et le site de
	l'utilisateur sans aucun préavis.<br>
	<br>
	Si l'une quelconque des stipulations des présentes est tenue pour nulle ou sans objet, elle sera réputée non écrite et n'entraînera pas la nullité
	des autres stipulations.</p>
{% endblock %}