{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Espace Presse</title>
{% endblock %}

{% block body %}
	<h1>Espace Presse</h1>

	<h3>En savoir plus sur Salonrama:</h3>
	<p><a href="{{ asset('bundles/salonramamain/presse/dossier_presse_salonrama.pdf') }}" target="_blank">Dossier Presse - Mai 2013</a></p>
	<hr/>

	<h3>Communiqués de presse:</h3>
	<p><a href="{{ asset('bundles/salonramamain/presse/cp_salonrama.pdf') }}" target="_blank">Avril 2013 - Lancement du site : Créez le site de votre salon de coiffure</a></p>
	<hr/>

	<h3>Ressources visuelles:</h3>
	<p><a href="{{ asset('bundles/salonramamain/presse/ressources_salonrama.zip') }}" target="_blank">Logos, bannière, capture d'écran</a></p>

	<h3>Ils parlent de nous:</h3>
	<p><a href="http://www.dreena.fr/article-creer-un-site-devient-un-jeu-d-enfant-avec-salonrama-pour-les-salons-de-coiffure-120403087.html" target="_blank"></a> 12 octobre 2013 - Dreena.fr -  Créer un site devient un jeu d'enfant pour les salons de coiffure</p>
{% endblock %}