{% set addNoscript = true %}

{% extends "SalonramaMainBundle:Main:main.html.twig" %}

{% block head %}
	<title>Réinitialiser votre mot de passe</title>

	<link rel="stylesheet" href="{{ asset('bundles/salonramamain/css/form.css') }}"/>

	<script src="{{ asset('bundles/salonramamain/js/form.js') }}"></script>

	<script>

	var busy = false;

	$(document).ready(function()
	{
		$('#reset-new').focus();

		var resetForm = new Form($('#reset-post'), function(result, values, self){
			if(result == 0)
			{
				if(busy == false)
				{
					busy = true;
					self.setGlobalState(2, 'Envoi en cours...');

					$.ajax({
						type: "POST",
						url: "",
						data: values,
						dataType: "json",
						success: function(response){
							if(response.state == 0)
							{
								self.empty();
								self.setGlobalState(response.state, response.text);
							}
							else
							{
								self.setInputState($('#reset-email'), response);
								self.setGlobalState(null);
							}

							busy = false;
						},
						error: function(rs, e) {
							self.setGlobalState(1, "Échec lors de la requête.");
							busy = false;
						},
					});
				}
			}
		});
		resetForm.addInput('reset-new', { minLength: 4, maxLength: 25 });
		resetForm.addInput('reset-confirmation', { minLength: 4, maxLength: 25 });
	});

	</script>
{% endblock %}

{% block body %}
	<form method="post" action="" id="reset-post">
	<fieldset>
		<legend>Réinitialiser votre mot de passe</legend>

		<fieldset class="form-fieldset">
			<label for="reset-new">Nouveau mot de passe</label>
			<div class="form-controls">
				<input type="password" name="reset-new" id="reset-new" autocomplete="off">
			</div>
		</fieldset>

		<fieldset class="form-fieldset">
			<label for="reset-confirmation">Vérifiez votre mot de passe</label>
			<div class="form-controls">
				<input type="password" name="reset-confirmation" id="reset-confirmation">
			</div>
		</fieldset>

		<div class="form-actions">
			<div class="form-global-state cadre-small"></div>
			<button type="submit" class="button-small button-small-green"><i class="icon-ok"></i>Réinitialiser</button>
		</div>
	</fieldset>
	</form>
{% endblock %}